In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
master = pd.read_excel("../data/meta/Master_List.xlsx")
master.drop(columns=['Sample_body_site', 'Type', 'urls'], inplace=True)
unique_master = master.drop_duplicates(subset=['Subject_ID', 'Visit_number', 'Visit_ID', 'Age', 'Sex', 'Diagnosis', 'Race'])

In [3]:
dir = "../data/genus_cleaned/ecs/"
files = os.listdir(dir)
files = [os.path.join(dir, f) for f in files]
ecs = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [4]:
dir = "../data/genus_cleaned/pwy/"
files = os.listdir(dir)
files = [os.path.join(dir, f) for f in files]
pwy = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [5]:
dir = "../data/genus_cleaned/tax/"
files = os.listdir(dir)
files = [os.path.join(dir, f) for f in files]
tax = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [6]:
# unique_master

In [7]:
# ecs

In [8]:
# pwy

In [9]:
# tax

In [10]:
genus_abundances = tax.loc[:,["Visit_name", 'Genus', 'Metaphlan2_Analysis']]
genus_abundances.reset_index(inplace=True)
genus_abundances.rename(columns={'index': 'idx', 'Visit_name': 'Visit_ID'}, inplace=True)
genus = genus_abundances.pivot(index='idx', columns='Genus', values='Metaphlan2_Analysis')
genus['Visit_ID'] = genus_abundances['Visit_ID']
group_genus = genus.groupby('Visit_ID').sum()

In [11]:
master_tax = pd.merge(unique_master, group_genus, on='Visit_ID')
master_tax = master_tax.fillna(0.0)
master_tax.to_csv(os.path.join('../data/agg/', "master_tax_cleaned.csv"))

In [12]:
# master_tax.iloc[:, 7:].info()

In [12]:
# master_tax

In [13]:
# master_tax.describe()

In [14]:
# master_tax[master_tax.iloc[:, 7:] > 1.0]

In [15]:
# master_tax[master_tax.filter(like='g_').abs().gt(1.0).any()]
# genus_columns = master_tax.columns[7:]
# outliers = []
# for col in genus_columns:
#     outliers.append(master_tax[master_tax[col] > 100.0])

In [16]:
# outs = [out for out in outliers if len(out) > 0]
# result = pd.concat(outs)

In [17]:
# result

In [18]:
# cleaned_master_tax2 = master_tax[~master_tax.index.isin(result.index)]

In [19]:
# cleaned_master_tax2

In [21]:
# cleaned_master_tax2.to_csv('../data/agg/master_tax_cleaned2.csv')

In [22]:
# normal = cleaned_master_tax2.iloc[:, 7:].div(cleaned_master_tax2.iloc[:, 7:].sum(axis=1), axis=0)

In [20]:
# normal

In [24]:
# cleaned_master_tax2.loc[:, 'sum_abundance'] = cleaned_master_tax2.filter(regex='^g_', axis=1).sum(axis=1)

/tmp/ipykernel_137931/1890317427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_master_tax2.loc[:, 'sum_abundance'] = cleaned_master_tax2.filter(regex='^g_', axis=1).sum(axis=1)

In [21]:
# cleaned_master_tax2

In [22]:
# normal.loc[:, 'sum_abundance'] = normal.filter(regex='^g_', axis=1).sum(axis=1)
# normal

In [23]:
# normal * 100.0

In [28]:
# keys = ['Visit_name', 'Genus']
# ecs_pwy = pd.merge(ecs, pwy, left_on=keys, right_on=keys)

In [24]:
# len(ecs.Genus.unique())

In [25]:
# genus = normal.columns

In [26]:
# len(genus)

In [27]:
# ecs_index = ecs[~ecs.loc[:, 'Genus'].isin(genus)].index
# ecs.drop(~ecs.loc[:, 'Genus'].isin(genus))

In [28]:
# pwy_index = pwy[~pwy.loc[:, 'Genus'].isin(genus)].index

In [29]:
# pwy_index

In [30]:
# ecs.groupby(['Visit_name']).agg({'Abundance_RPKs': 'sum'})
# ecs_sum = ecs.groupby(['Visit_name']).agg({'Abundance_RPKs': 'sum'})
# ecs['Abundance_RPKs'].div(ecs.groupby(['Visit_name']).agg({'Abundance_RPKs': 'sum'}), axis=0)

In [31]:
# ecs_abundance_sum = ecs.merge(ecs_sum[['Abundance_RPKs']], on='Visit_name', how='left')
# ecs_abundance_sum

In [52]:
# ecs_abundance_sum.drop('sum', axis=1, inplace=True)
# ecs_abundance_sum.rename(columns={'Abundance_RPKs_x': 'Abundance_RPKs', 'Abundance_RPKs_y': 'sum'}, inplace=True)

In [53]:
# ecs_abundance_sum

,Unnamed: 0.1,Unnamed: 0,id,Abundance_RPKs,Visit_name,Enzyme,Genus,sum
0,0,4000000,HSM7J4NS|1.1.1.77|g__Eubacterium,0.000054,HSM7J4NS,1.1.1.77,g__Eubacterium,0.844067
1,1,4000001,HSM7J4NS|1.1.1.77|g__Faecalibacterium,0.000517,HSM7J4NS,1.1.1.77,g__Faecalibacterium,0.844067
2,2,4000002,HSM7J4NS|1.1.1.77|g__Lachnospiraceae_noname,0.000008,HSM7J4NS,1.1.1.77,g__Lachnospiraceae_noname,0.844067
3,3,4000003,HSM7J4NS|1.1.1.77|g__Roseburia,0.000146,HSM7J4NS,1.1.1.77,g__Roseburia,0.844067
4,5,4000005,HSM7J4NS|1.1.1.79|g__Escherichia,0.000005,HSM7J4NS,1.1.1.79,g__Escherichia,0.844067
...,...,...,...,...,...,...,...,...
7523525,49995,1349995,CSM7KOPG|2.1.3.3|g__Clostridium,0.000030,CSM7KOPG,2.1.3.3,g__Clostridium,0.948497
7523526,49996,1349996,CSM7KOPG|2.1.3.3|g__Dorea,0.000011,CSM7KOPG,2.1.3.3,g__Dorea,0.948497
7523527,49997,1349997,CSM7KOPG|2.1.3.3|g__Escherichia,0.000005,CSM7KOPG,2.1.3.3,g__Escherichia,0.948497
7523528,49998,1349998,CSM7KOPG|2.1.3.3|g__Eubacterium,0.000022,CSM7KOPG,2.1.3.3,g__Eubacterium,0.948497
7523529,49999,1349999,CSM7KOPG|2.1.3.3|g__Faecalibacterium,0.000174,CSM7KOPG,2.1.3.3,g__Faecalibacterium,0.948497

In [58]:
# ecs_abundance_sum['Abundance_normal'] = ecs_abundance_sum['Abundance_RPKs'] / ecs_abundance_sum['sum'] * 100.0

In [59]:
ecs_abundance_sum

,Unnamed: 0.1,Unnamed: 0,id,Abundance_RPKs,Visit_name,Enzyme,Genus,sum,Abundance_normal
0,0,4000000,HSM7J4NS|1.1.1.77|g__Eubacterium,0.000054,HSM7J4NS,1.1.1.77,g__Eubacterium,0.844067,0.006414
1,1,4000001,HSM7J4NS|1.1.1.77|g__Faecalibacterium,0.000517,HSM7J4NS,1.1.1.77,g__Faecalibacterium,0.844067,0.061234
2,2,4000002,HSM7J4NS|1.1.1.77|g__Lachnospiraceae_noname,0.000008,HSM7J4NS,1.1.1.77,g__Lachnospiraceae_noname,0.844067,0.000996
3,3,4000003,HSM7J4NS|1.1.1.77|g__Roseburia,0.000146,HSM7J4NS,1.1.1.77,g__Roseburia,0.844067,0.017332
4,5,4000005,HSM7J4NS|1.1.1.79|g__Escherichia,0.000005,HSM7J4NS,1.1.1.79,g__Escherichia,0.844067,0.000586
...,...,...,...,...,...,...,...,...,...
7523525,49995,1349995,CSM7KOPG|2.1.3.3|g__Clostridium,0.000030,CSM7KOPG,2.1.3.3,g__Clostridium,0.948497,0.003155
7523526,49996,1349996,CSM7KOPG|2.1.3.3|g__Dorea,0.000011,CSM7KOPG,2.1.3.3,g__Dorea,0.948497,0.001145
7523527,49997,1349997,CSM7KOPG|2.1.3.3|g__Escherichia,0.000005,CSM7KOPG,2.1.3.3,g__Escherichia,0.948497,0.000579
7523528,49998,1349998,CSM7KOPG|2.1.3.3|g__Eubacterium,0.000022,CSM7KOPG,2.1.3.3,g__Eubacterium,0.948497,0.002367
7523529,49999,1349999,CSM7KOPG|2.1.3.3|g__Faecalibacterium,0.000174,CSM7KOPG,2.1.3.3,g__Faecalibacterium,0.948497,0.018331

In [60]:
master_tax

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Actinobacillus,...,g__Ruminococcus,g__Saccharomyces,g__Shigella,g__Siphoviridae_noname,g__Streptococcus,g__Subdoligranulum,g__Sutterella,g__Sutterellaceae_unclassified,g__Turicibacter,g__Veillonella
0,2008,23,MSM5LLDE,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.21738,0.64981,0.00000,0.15764,0.0,0.05505
1,2008,6,MSM5LLDM,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.25539,0.00000,0.12544,0.0,0.00000
2,2008,28,MSM6J2LB,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.07850,0.60294,0.00000,0.04602,0.0,0.00000
3,2008,11,MSM5LLDU,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,0.0,0.00000
4,2008,22,MSM5LLDC,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.24179,0.27726,0.00000,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,3022,19,CSM7KOOH,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.05461,0.0,0.0,0.0,0.02937,8.52705,0.00000,0.00000,0.0,0.07603
1309,3022,4,CSM67UH7,69,Male,nonIBD,White,0.00249,0.0,0.0,...,0.24160,0.0,0.0,0.0,0.00092,10.30346,0.00000,0.00000,0.0,0.01277
1310,3022,22,CSM7KOON,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.05634,0.0,0.0,0.0,0.00000,14.54664,0.00000,0.00000,0.0,0.00000
1311,3022,25,CSM7KOOR,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,0.0,0.00000
1312,3022,8,CSM79HGZ,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,8.10656,0.00000,0.00000,0.0,0.09838

In [62]:
gc_dir = './data/genus_cleaned'
os.path.join(gc_dir, 'master_tax_cleaned2.csv')

'./data/genus_cleaned/master_tax_cleaned2.csv'

In [64]:
def visit_stage(visit):
    if visit >= 4 and visit <=9:
        return "stage 1"
    elif visit >= 11 and visit <= 16:
        return "stage 2"
    elif visit >= 18 and visit <= 23:
        return "stage 3"
    elif visit >= 25 and visit <= 30:
        return "stage 4"
    else:
        return "unknown"

def age_group(age):
    if age <= 18:
        return 1
    elif age > 18 and age <= 40:
        return 2
    elif age > 40:
        return 3

In [65]:
unique_master.loc[:, ['age_group']] = unique_master['Age'].apply(lambda age: age_group(age))
unique_master.loc[:, ['visit_stage']] = unique_master['Visit_number'].apply(lambda visit: visit_stage(visit))
unique_master

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,age_group,visit_stage
0,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3
4,2008,6,MSM5LLDM,30,Female,CD,White,2,stage 1
11,2008,28,MSM6J2LB,30,Female,CD,White,2,stage 4
18,2008,11,MSM5LLDU,30,Female,CD,White,2,stage 2
25,2008,22,MSM5LLDC,30,Female,CD,White,2,stage 3
...,...,...,...,...,...,...,...,...,...
7501,3022,19,CSM7KOOH,69,Male,nonIBD,White,3,stage 3
7508,3022,4,CSM67UH7,69,Male,nonIBD,White,3,stage 1
7512,3022,22,CSM7KOON,69,Male,nonIBD,White,3,stage 3
7516,3022,25,CSM7KOOR,69,Male,nonIBD,White,3,stage 4
7522,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1

In [73]:
unique_master.loc[:, ['age_group']] = unique_master.age_group.astype('category')
unique_master.loc[:, ['visit_stage']] = unique_master.visit_stage.astype('category')

In [74]:
unique_master.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1339 entries, 0 to 7522
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Subject_ID    1339 non-null   int64
 1   Visit_number  1339 non-null   int64
 2   Visit_ID      1339 non-null   object
 3   Age           1339 non-null   int64
 4   Sex           1339 non-null   object
 5   Diagnosis     1339 non-null   object
 6   Race          1339 non-null   object
 7   age_group     1339 non-null   category
 8   visit_stage   1339 non-null   object
dtypes: category(1), int64(3), object(5)
memory usage: 95.6+ KB