In [1]:
import os
import numpy as np
import pandas as pd

In [4]:
dir = '../data/agg/ecs_normal.csv'
ecs = pd.read_csv(dir)

In [5]:
dir = '../data/agg/pwy_normal.csv'
pwy = pd.read_csv(dir)

In [2]:
dir = '../data/agg/master_tax_normal.csv'
master_tax = pd.read_csv(dir)

In [3]:
master_tax.iloc[:, 0:10].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1303 non-null   int64
 1   Subject_ID    1303 non-null   int64
 2   Visit_number  1303 non-null   int64
 3   Visit_ID      1303 non-null   object
 4   Age           1303 non-null   int64
 5   Sex           1303 non-null   object
 6   Diagnosis     1303 non-null   object
 7   Race          1303 non-null   object
 8   age_group     1303 non-null   int64
 9   visit_stage   1303 non-null   object
dtypes: int64(5), object(5)
memory usage: 101.9+ KB

In [6]:
master_tax.drop(master_tax.columns[[0]], axis=1, inplace=True)

In [53]:
genus_columns = master_tax.columns[9:]
master_tax_total = master_tax.groupby(['Diagnosis'])[genus_columns].agg(['mean']).reset_index()

In [54]:
master_tax_total

,Diagnosis,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Actinobacillus,g__Actinomyces,g__Adlercreutzia,g__Aggregatibacter,g__Akkermansia,g__Alistipes,g__Anaerostipes,...,g__Ruminococcus,g__Saccharomyces,g__Shigella,g__Siphoviridae_noname,g__Streptococcus,g__Subdoligranulum,g__Sutterella,g__Sutterellaceae_unclassified,g__Turicibacter,g__Veillonella
,,mean,mean,mean,mean,mean,mean,mean,mean,mean,...,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
0,CD,0.042400,1.037468,0.004097,0.007135,0.002304,0.000371,1.189393,5.273499,0.074487,...,0.416413,0.000269,0.003199,0.180957,0.190519,2.583009,0.741438,0.198604,0.004829,1.657057
1,UC,0.017607,0.264664,0.002054,0.004979,0.001904,0.005681,0.682689,3.420430,0.064602,...,0.671896,0.000245,0.000214,0.078413,0.211885,3.272243,0.338471,0.176613,0.001795,0.797286
2,nonIBD,0.009503,0.139820,0.001214,0.000240,0.005394,0.000270,2.057708,7.730592,0.061249,...,1.512140,0.000079,0.000165,0.049610,0.074189,4.638301,0.632633,0.080617,0.001707,0.669578

In [52]:
master_tax_sex = master_tax.groupby(['Diagnosis', 'Sex'])[genus_columns].agg(['mean', 'count', 'sum'])
master_tax_sex = master_tax_sex.reset_index()
master_tax_sex.to_csv('master_tax_sex.csv')

In [46]:
master_tax.groupby(['Diagnosis', 'age_group'])[genus_columns].agg(['mean', 'count', 'sum'])

                    g__Acidaminococcaceae_unclassified                  \
                                                  mean count       sum
Diagnosis age_group
CD        1                                   0.007521   321   2.41431
          2                                   0.001911   164   0.31347
          3                                   0.220762   100  22.07622
UC        1                                   0.030645   162   4.96456
          2                                   0.000000   105   0.00000
          3                                   0.014804    94   1.39153
nonIBD    1                                   0.005884   152   0.89435
          2                                   0.023043    81   1.86650
          3                                   0.005095   124   0.63177

                    g__Acidaminococcus                  g__Actinobacillus  \
                                  mean count        sum              mean
Diagnosis age_group
CD        1                   0.477591   321  153.30669          0.007208
          2                   0.013387   164    2.19551          0.000210
          3                   4.514168   100  451.41680          0.000485
UC        1                   0.412720   162   66.86068          0.003867
          2                   0.000000   105    0.00000          0.001042
          3                   0.305137    94   28.68287          0.000060
nonIBD    1                   0.193063   152   29.34565          0.001525
          2                   0.240969    81   19.51845          0.001130
          3                   0.008482   124    1.05180          0.000888

                                   g__Actinomyces  ... g__Sutterella  \
                    count      sum           mean  ...           sum
Diagnosis age_group                                ...
CD        1           321  2.31365       0.012845  ...     361.95681
          2           164  0.03452       0.000310  ...      31.02286
          3           100  0.04845       0.000000  ...      40.76152
UC        1           162  0.62647       0.000611  ...     119.37429
          2           105  0.10945       0.000000  ...       2.81019
          3            94  0.00564       0.018070  ...       0.00368
nonIBD    1           152  0.23177       0.000410  ...      78.02412
          2            81  0.09151       0.000000  ...      88.82612
          3           124  0.11015       0.000189  ...      58.99959

                    g__Sutterellaceae_unclassified                  \
                                              mean count       sum
Diagnosis age_group
CD        1                               0.191417   321  61.44480
          2                               0.067205   164  11.02166
          3                               0.437171   100  43.71712
UC        1                               0.138705   162  22.47017
          2                               0.387208   105  40.65680
          3                               0.006705    94   0.63028
nonIBD    1                               0.066981   152  10.18109
          2                               0.009732    81   0.78827
          3                               0.143637   124  17.81102

                    g__Turicibacter                g__Veillonella        \
                               mean count      sum           mean count
Diagnosis age_group
CD        1                0.008081   321  2.59411       1.195272   321
          2                0.000976   164  0.16002       1.554500   164
          3                0.000708   100  0.07085       3.307580   100
UC        1                0.000045   162  0.00737       0.637796   162
          2                0.000096   105  0.01010       1.728833   105
          3                0.006706    94  0.63040       0.031594    94
nonIBD    1                0.003351   152  0.50928       1.123721   152
          2                0.000262    81  0.02126       0.125094    81
          3                0.000637   124  0.07896       0.468556   124


                           sum
Diagnosis age_group
CD        1          383.68228
          2          254.93797
          3          330.75805
UC        1          103.32302
          2          181.52749
          3            2.96984
nonIBD    1          170.80566
          2           10.13263
          3           58.10090

[9 rows x 282 columns]

In [47]:
master_tax.groupby(['Diagnosis', 'visit_stage'])[genus_columns].agg(['mean', 'count', 'sum'])

                      g__Acidaminococcaceae_unclassified                 \
                                                    mean count      sum
Diagnosis visit_stage
CD        stage 1                               0.049868   151  7.53007
          stage 2                               0.041521   131  5.43929
          stage 3                               0.045282   176  7.96971
          stage 4                               0.030433   127  3.86493
UC        stage 1                               0.039470    91  3.59181
          stage 2                               0.009510    99  0.94152
          stage 3                               0.011150   101  1.12619
          stage 4                               0.009951    70  0.69657
nonIBD    stage 1                               0.005232   103  0.53885
          stage 2                               0.008955    84  0.75220
          stage 3                               0.008205   101  0.82869
          stage 4                               0.018448    69  1.27288

                      g__Acidaminococcus                  g__Actinobacillus  \
                                    mean count        sum              mean
Diagnosis visit_stage
CD        stage 1               1.174350   151  177.32681          0.004735
          stage 2               1.100161   131  144.12108          0.001495
          stage 3               0.925968   176  162.97032          0.003335
          stage 4               0.964573   127  122.50079          0.007077
UC        stage 1               0.507292    91   46.16360          0.000848
          stage 2               0.211678    99   20.95614          0.002393
          stage 3               0.209150   101   21.12414          0.000998
          stage 4               0.104281    70    7.29967          0.004666
nonIBD    stage 1               0.174195   103   17.94206          0.001440
          stage 2               0.108588    84    9.12138          0.001025
          stage 3               0.127050   101   12.83200          0.001033
          stage 4               0.145224    69   10.02046          0.001372

                                     g__Actinomyces  ... g__Sutterella  \
                      count      sum           mean  ...           sum
Diagnosis visit_stage                                ...
CD        stage 1       151  0.71501       0.007544  ...      73.43503
          stage 2       131  0.19587       0.000000  ...     116.82659
          stage 3       176  0.58698       0.017016  ...     146.13647
          stage 4       127  0.89876       0.000317  ...      97.34310
UC        stage 1        91  0.07721       0.000000  ...      32.30635
          stage 2        99  0.23693       0.009674  ...      35.67492
          stage 3       101  0.10079       0.008315  ...      37.12458
          stage 4        70  0.32663       0.000000  ...      17.08231
nonIBD    stage 1       103  0.14835       0.000176  ...      77.91291
          stage 2        84  0.08607       0.000096  ...      50.77800
          stage 3       101  0.10436       0.000552  ...      61.27423
          stage 4        69  0.09465       0.000055  ...      35.88469

                      g__Sutterellaceae_unclassified                  \
                                                mean count       sum
Diagnosis visit_stage
CD        stage 1                           0.095668   151  14.44586
          stage 2                           0.269115   131  35.25401
          stage 3                           0.274139   176  48.24847
          stage 4                           0.143585   127  18.23524
UC        stage 1                           0.115739    91  10.53228
          stage 2                           0.063799    99   6.31609
          stage 3                           0.128143   101  12.94246
          stage 4                           0.485235    70  33.96642
nonIBD    stage 1                           0.067985   103   7.00245
          stage 2                           0.077381    84   6.49999
          stage 3                           0.122549   101  12.37743
          stage 4                           0.042036    69   2.90051

                      g__Turicibacter                g__Veillonella        \
                                 mean count      sum           mean count
Diagnosis visit_stage
CD        stage 1            0.004512   151  0.68126       1.662226   151
          stage 2            0.000442   131  0.05791       1.313066   131
          stage 3            0.009107   176  1.60277       1.732111   176
          stage 4            0.003803   127  0.48304       1.901724   127
UC        stage 1            0.000171    91  0.01557       0.966215    91
          stage 2            0.000115    99  0.01138       0.949652    99
          stage 3            0.002192   101  0.22143       0.181913   101
          stage 4            0.005707    70  0.39949       1.250086    70
nonIBD    stage 1            0.001095   103  0.11277       0.885050   103
          stage 2            0.002963    84  0.24888       0.694156    84
          stage 3            0.001683   101  0.17002       0.422124   101
          stage 4            0.001128    69  0.07783       0.680224    69


                             sum
Diagnosis visit_stage
CD        stage 1      250.99614
          stage 2      172.01164
          stage 3      304.85156
          stage 4      241.51896
UC        stage 1       87.92560
          stage 2       94.01555
          stage 3       18.37319
          stage 4       87.50601
nonIBD    stage 1       91.16011
          stage 2       58.30911
          stage 3       42.63452
          stage 4       46.93545

[12 rows x 282 columns]

In [12]:
def visit_stage(visit):
    if visit >= 4 and visit <=9:
        return "stage 1"
    elif visit >= 11 and visit <= 16:
        return "stage 2"
    elif visit >= 18 and visit <= 23:
        return "stage 3"
    elif visit >= 25 and visit <= 30:
        return "stage 4"
    else:
        return "unknown"

def age_group(age):
    if age <= 18:
        return 1
    elif age > 18 and age <= 40:
        return 2
    elif age > 40:
        return 3

In [13]:
master = pd.read_excel('../data/meta/Master_List.xlsx')
master.drop(columns=['Sample_body_site', 'Type', 'urls'], inplace=True)
master = master.drop_duplicates(subset=['Subject_ID', 'Visit_number', 'Visit_ID', 'Age', 'Sex', 'Diagnosis', 'Race'])
master.loc[:, ['age_group']] = master['Age'].apply(lambda age: age_group(age))
master.loc[:, ['visit_stage']] = master['Visit_number'].apply(lambda visit: visit_stage(visit))

In [14]:
master

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,age_group,visit_stage
0,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3
4,2008,6,MSM5LLDM,30,Female,CD,White,2,stage 1
11,2008,28,MSM6J2LB,30,Female,CD,White,2,stage 4
18,2008,11,MSM5LLDU,30,Female,CD,White,2,stage 2
25,2008,22,MSM5LLDC,30,Female,CD,White,2,stage 3
...,...,...,...,...,...,...,...,...,...
7501,3022,19,CSM7KOOH,69,Male,nonIBD,White,3,stage 3
7508,3022,4,CSM67UH7,69,Male,nonIBD,White,3,stage 1
7512,3022,22,CSM7KOON,69,Male,nonIBD,White,3,stage 3
7516,3022,25,CSM7KOOR,69,Male,nonIBD,White,3,stage 4
7522,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1

In [10]:
ecs.drop(ecs.columns[:3], axis=1, inplace=True)

In [15]:
ecs.rename(columns={'Visit_name': 'Visit_ID'}, inplace=True)
ecs

,id,Visit_ID,Enzyme,Genus,Abundance_RPKs
0,HSM7J4NS|1.1.1.77|g__Eubacterium,HSM7J4NS,1.1.1.77,g__Eubacterium,0.006414
1,HSM7J4NS|1.1.1.77|g__Faecalibacterium,HSM7J4NS,1.1.1.77,g__Faecalibacterium,0.061234
2,HSM7J4NS|1.1.1.77|g__Lachnospiraceae_noname,HSM7J4NS,1.1.1.77,g__Lachnospiraceae_noname,0.000996
3,HSM7J4NS|1.1.1.77|g__Roseburia,HSM7J4NS,1.1.1.77,g__Roseburia,0.017332
4,HSM7J4NS|1.1.1.79|g__Escherichia,HSM7J4NS,1.1.1.79,g__Escherichia,0.000586
...,...,...,...,...,...
7523525,CSM7KOPG|2.1.3.3|g__Clostridium,CSM7KOPG,2.1.3.3,g__Clostridium,0.003155
7523526,CSM7KOPG|2.1.3.3|g__Dorea,CSM7KOPG,2.1.3.3,g__Dorea,0.001145
7523527,CSM7KOPG|2.1.3.3|g__Escherichia,CSM7KOPG,2.1.3.3,g__Escherichia,0.000579
7523528,CSM7KOPG|2.1.3.3|g__Eubacterium,CSM7KOPG,2.1.3.3,g__Eubacterium,0.002367
7523529,CSM7KOPG|2.1.3.3|g__Faecalibacterium,CSM7KOPG,2.1.3.3,g__Faecalibacterium,0.018331

In [16]:
master_ecs = pd.merge(master, ecs, on='Visit_ID')

In [17]:
master_ecs

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,age_group,visit_stage,id,Enzyme,Genus,Abundance_RPKs
0,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|5.3.1.16|g__Parabacteroides,5.3.1.16,g__Parabacteroides,0.010612
1,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|5.3.1.16|g__Ruminococcaceae_noname,5.3.1.16,g__Ruminococcaceae_noname,0.000311
2,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|5.3.1.16|g__Streptococcus,5.3.1.16,g__Streptococcus,0.000601
3,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|5.3.1.17|g__Bacteroides,5.3.1.17,g__Bacteroides,0.189328
4,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|5.3.1.17|g__Eubacterium,5.3.1.17,g__Eubacterium,0.005010
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7523525,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|6.5.1.2|g__Lachnospiraceae_noname,6.5.1.2,g__Lachnospiraceae_noname,0.000227
7523526,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|6.5.1.2|g__Parabacteroides,6.5.1.2,g__Parabacteroides,0.002801
7523527,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|6.5.1.2|g__Parasutterella,6.5.1.2,g__Parasutterella,0.000810
7523528,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|6.5.1.2|g__Roseburia,6.5.1.2,g__Roseburia,0.005269
7523529,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|6.5.1.4|g__Burkholderiales_noname,6.5.1.4,g__Burkholderiales_noname,0.000844

In [35]:
master_ecs.groupby(['Diagnosis', 'Genus', 'Enzyme'])['Abundance_RPKs'].agg(['mean', 'count', 'sum'])

                                            mean  count       sum
Diagnosis Genus              Enzyme
CD        g__Acidaminococcus 1.1.1.157  0.001263      6  0.007577
                             1.1.1.169  0.034835     44  1.532719
                             1.1.1.205  0.000705      8  0.005636
                             1.1.1.22   0.000291      2  0.000581
                             1.1.1.23   0.012767     49  0.625587
...                                          ...    ...       ...
nonIBD    g__Veillonella     6.3.5.3    0.000423     69  0.029187
                             6.3.5.5    0.005248    134  0.703190
                             6.3.5.7    0.003811    141  0.537282
                             6.4.1.1    0.003975    138  0.548579
                             6.5.1.2    0.000405     53  0.021460

[84811 rows x 3 columns]

In [36]:
master_ecs.groupby(['Diagnosis', 'Sex', 'Genus', 'Enzyme'])['Abundance_RPKs'].agg(['mean', 'count', 'sum'])

                                                   mean  count       sum
Diagnosis Sex    Genus              Enzyme
CD        Female g__Acidaminococcus 1.1.1.169  0.020630     13  0.268185
                                    1.1.1.23   0.007777     12  0.093321
                                    1.1.1.25   0.010611     12  0.127338
                                    1.1.1.267  0.009476     13  0.123187
                                    1.1.1.27   0.011289     13  0.146762
...                                                 ...    ...       ...
nonIBD    Male   g__Veillonella     6.3.5.3    0.000403     39  0.015710
                                    6.3.5.5    0.002173     65  0.141263
                                    6.3.5.7    0.001719     73  0.125504
                                    6.4.1.1    0.001880     66  0.124078
                                    6.5.1.2    0.000341     34  0.011603

[151217 rows x 3 columns]

In [38]:
master_ecs.groupby(['Diagnosis', 'age_group', 'Genus', 'Enzyme'])['Abundance_RPKs'].agg(['mean', 'count', 'sum'])

                                                      mean  count       sum
Diagnosis age_group Genus              Enzyme
CD        1         g__Acidaminococcus 1.1.1.169  0.022178     12  0.266139
                                       1.1.1.23   0.008452     11  0.092970
                                       1.1.1.25   0.011550     11  0.127049
                                       1.1.1.267  0.010197     12  0.122365
                                       1.1.1.27   0.012209     12  0.146514
...                                                    ...    ...       ...
nonIBD    3         g__Veillonella     6.3.5.3    0.000490     22  0.010783
                                       6.3.5.5    0.002839     40  0.113560
                                       6.3.5.7    0.002399     44  0.105543
                                       6.4.1.1    0.002450     40  0.098014
                                       6.5.1.2    0.000480     18  0.008648

[202293 rows x 3 columns]

In [39]:
master_ecs.groupby(['Diagnosis', 'visit_stage', 'Genus', 'Enzyme'])['Abundance_RPKs'].agg(['mean', 'count', 'sum'])

                                                        mean  count       sum
Diagnosis visit_stage Genus              Enzyme
CD        stage 1     g__Acidaminococcus 1.1.1.169  0.054013     12  0.648156
                                         1.1.1.23   0.022867     12  0.274402
                                         1.1.1.25   0.033563     11  0.369192
                                         1.1.1.267  0.032981     10  0.329815
                                         1.1.1.27   0.029409     12  0.352907
...                                                      ...    ...       ...
nonIBD    stage 4     g__Veillonella     6.3.5.3    0.000254     14  0.003554
                                         6.3.5.5    0.002831     29  0.082106
                                         6.3.5.7    0.002282     30  0.068458
                                         6.4.1.1    0.002737     30  0.082105
                                         6.5.1.2    0.000143     11  0.001570

[288401 rows x 3 columns]

In [27]:
pwy

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,Visit_name,PWY,Genus,Abundance
0,0,0,800000,MSM9VZKC|PWY-6123|g__Bacteroides,MSM9VZKC,PWY-6123,g__Bacteroides,0.073452
1,1,1,800001,MSM9VZKC|PWY-6123|g__Faecalibacterium,MSM9VZKC,PWY-6123,g__Faecalibacterium,0.718210
2,2,2,800002,MSM9VZKC|PWY-6123|g__Lachnospiraceae_noname,MSM9VZKC,PWY-6123,g__Lachnospiraceae_noname,0.005276
3,3,4,800004,MSM9VZKC|PWY-6124|g__Bacteroides,MSM9VZKC,PWY-6124,g__Bacteroides,0.069221
4,4,5,800005,MSM9VZKC|PWY-6124|g__Faecalibacterium,MSM9VZKC,PWY-6124,g__Faecalibacterium,0.703711
...,...,...,...,...,...,...,...,...
729012,729012,49989,399989,HSM7CZ1V|PEPTIDOGLYCANSYN-PWY|g__Parasutterella,HSM7CZ1V,PEPTIDOGLYCANSYN-PWY,g__Parasutterella,0.005657
729013,729013,49996,399996,HSM7CZ1V|PWY-1042|g__Alistipes,HSM7CZ1V,PWY-1042,g__Alistipes,0.028047
729014,729014,49997,399997,HSM7CZ1V|PWY-1042|g__Bacteroides,HSM7CZ1V,PWY-1042,g__Bacteroides,0.529900
729015,729015,49998,399998,HSM7CZ1V|PWY-1042|g__Blautia,HSM7CZ1V,PWY-1042,g__Blautia,0.006493
729016,729016,49999,399999,HSM7CZ1V|PWY-1042|g__Faecalibacterium,HSM7CZ1V,PWY-1042,g__Faecalibacterium,0.183487

In [29]:
pwy.drop(pwy.columns[:3], axis=1, inplace=True)
pwy.rename(columns={'Visit_name': 'Visit_ID'}, inplace=True)
pwy

,id,Visit_ID,PWY,Genus,Abundance
0,MSM9VZKC|PWY-6123|g__Bacteroides,MSM9VZKC,PWY-6123,g__Bacteroides,0.073452
1,MSM9VZKC|PWY-6123|g__Faecalibacterium,MSM9VZKC,PWY-6123,g__Faecalibacterium,0.718210
2,MSM9VZKC|PWY-6123|g__Lachnospiraceae_noname,MSM9VZKC,PWY-6123,g__Lachnospiraceae_noname,0.005276
3,MSM9VZKC|PWY-6124|g__Bacteroides,MSM9VZKC,PWY-6124,g__Bacteroides,0.069221
4,MSM9VZKC|PWY-6124|g__Faecalibacterium,MSM9VZKC,PWY-6124,g__Faecalibacterium,0.703711
...,...,...,...,...,...
729012,HSM7CZ1V|PEPTIDOGLYCANSYN-PWY|g__Parasutterella,HSM7CZ1V,PEPTIDOGLYCANSYN-PWY,g__Parasutterella,0.005657
729013,HSM7CZ1V|PWY-1042|g__Alistipes,HSM7CZ1V,PWY-1042,g__Alistipes,0.028047
729014,HSM7CZ1V|PWY-1042|g__Bacteroides,HSM7CZ1V,PWY-1042,g__Bacteroides,0.529900
729015,HSM7CZ1V|PWY-1042|g__Blautia,HSM7CZ1V,PWY-1042,g__Blautia,0.006493
729016,HSM7CZ1V|PWY-1042|g__Faecalibacterium,HSM7CZ1V,PWY-1042,g__Faecalibacterium,0.183487

In [30]:
master_pwy = pd.merge(master, pwy, on='Visit_ID')
master_pwy

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,age_group,visit_stage,id,PWY,Genus,Abundance
0,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|1CMET2-PWY|g__Bacteroides,1CMET2-PWY,g__Bacteroides,0.840531
1,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|1CMET2-PWY|g__Parabacteroides,1CMET2-PWY,g__Parabacteroides,0.094210
2,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|ANAGLYCOLYSIS-PWY|g__Bacteroides,ANAGLYCOLYSIS-PWY,g__Bacteroides,0.024887
3,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|ARGININE-SYN4-PWY|g__Bacteroides,ARGININE-SYN4-PWY,g__Bacteroides,0.867360
4,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|ARGSYN-PWY|g__Bifidobacterium,ARGSYN-PWY,g__Bifidobacterium,0.082357
...,...,...,...,...,...,...,...,...,...,...,...,...,...
729012,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|VALSYN-PWY|g__Lachnospiraceae_noname,VALSYN-PWY,g__Lachnospiraceae_noname,0.003493
729013,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|VALSYN-PWY|g__Parabacteroides,VALSYN-PWY,g__Parabacteroides,0.112971
729014,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|VALSYN-PWY|g__Parasutterella,VALSYN-PWY,g__Parasutterella,0.011327
729015,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|VALSYN-PWY|g__Roseburia,VALSYN-PWY,g__Roseburia,0.112894
729016,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|VALSYN-PWY|g__Veillonella,VALSYN-PWY,g__Veillonella,0.003054

In [31]:
master_pwy.groupby(['Diagnosis'])['Abundance'].agg(['mean', 'count', 'sum'])

               mean   count      sum
Diagnosis
CD         0.181557  323866  58800.0
UC         0.186252  194360  36200.0
nonIBD     0.169836  210791  35800.0

In [32]:
master_pwy.groupby(['Diagnosis', 'Sex'])['Abundance'].agg(['mean', 'count', 'sum'])

                      mean   count      sum
Diagnosis Sex
CD        Female  0.185306  152181  28200.0
          Male    0.178233  171685  30600.0
UC        Female  0.186083  114465  21300.0
          Male    0.186495   79895  14900.0
nonIBD    Female  0.164682   86834  14300.0
          Male    0.173447  123957  21500.0

In [33]:
master_pwy.groupby(['Diagnosis', 'Age'])['Abundance'].agg(['mean', 'count', 'sum'])

                   mean  count     sum
Diagnosis Age
CD        0    0.222420   4496  1000.0
          8    0.160031  15622  2500.0
          9    0.186176   4297   800.0
          10   0.159482  20065  3200.0
          11   0.185874   6456  1200.0
...                 ...    ...     ...
nonIBD    56   0.129559  10034  1300.0
          57   0.155783   7703  1200.0
          61   0.180766   5532  1000.0
          62   0.160561   6851  1100.0
          69   0.242347   7840  1900.0

[79 rows x 3 columns]

In [1]:
import os

In [2]:
os.path.split('/home/sha/.config/Neo4j Desktop/Application/relate-data/dbmss/dbms-c7db64bb-a3cf-43a4-af5c-7438bcb4790d/import/data_yi')

('/home/sha/.config/Neo4j Desktop/Application/relate-data/dbmss/dbms-c7db64bb-a3cf-43a4-af5c-7438bcb4790d/import',
 'data_yi')

In [3]:
import_folder = '/home/sha/.config/Neo4j Desktop/Application/relate-data/dbmss/dbms-c7db64bb-a3cf-43a4-af5c-7438bcb4790d/import/data_yi'

In [7]:
start = import_folder.rfind('/import/')

In [8]:
import_folder[start+len('/import/'):]

'data_yi'