In [1]:
import numpy as np
import pandas as pd

In [2]:
df_enz = pd.read_csv('nonIBD_enz_processed.csv')
df_pwy = pd.read_csv('nonIBD_processed.csv')
df_tax = pd.read_csv('UC_tax_processed.csv')

In [3]:
df_enz.describe()

         Unnamed: 0  Abundance_RPKs    Subject_ID  Visit_number
count  2.653123e+06    2.653123e+06  2.653123e+06  2.653123e+06
mean   1.326561e+06    1.222966e-04  3.617678e+03  1.752455e+01
std    7.658908e+05    5.082743e-04  1.337548e+03  6.999375e+00
min    0.000000e+00    2.244816e-09  2.008000e+03  4.000000e+00
25%    6.632805e+05    5.479390e-06  2.083000e+03  1.200000e+01
50%    1.326561e+06    1.985620e-05  3.016000e+03  1.800000e+01
75%    1.989842e+06    8.065435e-05  4.040000e+03  2.300000e+01
max    2.653122e+06    1.045300e-01  6.038000e+03  3.000000e+01

In [4]:
df_enz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2653123 entries, 0 to 2653122
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0      int64
 1   Abundance_RPKs  float64
 2   Enzyme          object
 3   Genus           object
 4   Visit_name      object
 5   Subject_ID      int64
 6   Visit_number    int64
 7   Diagnosis       object
dtypes: float64(1), int64(3), object(4)
memory usage: 161.9+ MB

In [5]:
df_enz.isnull().sum()

Unnamed: 0        0
Abundance_RPKs    0
Enzyme            0
Genus             0
Visit_name        0
Subject_ID        0
Visit_number      0
Diagnosis         0
dtype: int64

In [6]:
df_pwy.describe()

          Unnamed: 0     Abundance     Subject_ID   Visit_number
count  253856.000000  2.538560e+05  253856.000000  253856.000000
mean   126927.500000  6.373716e-04    3607.862260      17.365113
std     73282.059305  1.676704e-03    1296.895645       7.273099
min         0.000000  5.378420e-07    2008.000000       4.000000
25%     63463.750000  3.605132e-05    3001.000000      11.000000
50%    126927.500000  1.335355e-04    3016.000000      18.000000
75%    190391.250000  5.277400e-04    4039.000000      23.000000
max    253855.000000  1.476710e-01    6038.000000      30.000000

In [7]:
df_pwy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253856 entries, 0 to 253855
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    253856 non-null  int64
 1   Abundance     253856 non-null  float64
 2   PWY           253856 non-null  object
 3   Genus         253856 non-null  object
 4   Visit_name    253856 non-null  object
 5   Subject_ID    253856 non-null  int64
 6   Visit_number  253856 non-null  int64
 7   Diagnosis     253856 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 15.5+ MB

In [8]:
df_tax.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55631 entries, 0 to 55630
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           55631 non-null  int64
 1   OTU_ID               55631 non-null  object
 2   Metaphlan2_Analysis  55631 non-null  float64
 3   Kingdom              55631 non-null  object
 4   Phylum               54977 non-null  object
 5   Class                52838 non-null  object
 6   Order                49071 non-null  object
 7   Family               44587 non-null  object
 8   Genus                36496 non-null  object
 9   Species              23844 non-null  object
 10  t__                  0 non-null      float64
 11  Visit_name           55631 non-null  object
 12  Subject_ID           55631 non-null  int64
 13  Visit_number         55631 non-null  int64
 14  Diagnosis            55631 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 6.4+ MB

In [9]:
df_tax_processed = df_tax.dropna(subset=['Genus'])

In [10]:
df_tax_processed.to_csv('uc_tax.csv')