In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [2]:
customer_df = pd.read_csv('../data/Customer Churn.csv')
customer_df

,Call Failure,Complains,Subscription Length,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Status,Churn
0,8,0,38,4370,71,5,17,1,0
1,0,0,39,318,5,7,4,0,0
2,10,0,37,2453,60,359,24,1,0
3,10,0,38,4198,66,1,35,1,0
4,3,0,38,2393,58,2,33,1,0
...,...,...,...,...,...,...,...,...,...
3145,21,0,19,6697,147,92,44,1,0
3146,17,0,17,9237,177,80,42,1,0
3147,13,0,18,3157,51,38,21,1,0
3148,7,0,11,4695,46,222,12,1,0
3149,8,1,11,1792,25,7,9,1,1

In [3]:
y = customer_df['Churn']
Xs = customer_df.drop(columns=['Churn'])

In [ ]:
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [10, 20, 30, 40, 50, 60],
    'min_samples_split': [10, 20, 30, 40, 50],
    'min_impurity_decrease': [0, 0.001, 0.005, 0.01, 0.05, 0.1]
}