In [1]:
import numpy as np
import pandas as pd

In [3]:
master = pd.read_excel("../data/sub_list.xlsx")

In [6]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1776 entries, 0 to 1775
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Subject_ID        1776 non-null   int64
 1   Sample_body_site  1776 non-null   object
 2   Visit_number      1776 non-null   int64
 3   Visit_ID          1776 non-null   object
 4   Type              1776 non-null   object
 5   urls              1776 non-null   object
 6   Age               1776 non-null   int64
 7   Sex               1776 non-null   object
 8   Diagnosis         1776 non-null   object
 9   Race              1776 non-null   object
dtypes: int64(3), object(7)
memory usage: 138.9+ KB

In [7]:
master["Sample_body_site"].unique()

array(['feces'], dtype=object)

In [8]:
master["Diagnosis"].unique()

array(['CD', 'UC', 'nonIBD'], dtype=object)

In [9]:
master.describe()

        Subject_ID  Visit_number          Age
count  1776.000000   1776.000000  1776.000000
mean   3526.643018     17.277027    27.122185
std    1312.473680      8.402069    17.890693
min    2008.000000      5.000000     0.000000
25%    2084.000000     11.000000    14.000000
50%    3030.000000     20.000000    21.000000
75%    4031.000000     25.000000    38.500000
max    6038.000000     30.000000    76.000000

In [11]:
len(master["Subject_ID"].unique())

105

In [12]:
master["Visit_number"].unique()

array([11, 25,  5, 15, 20, 30])

In [14]:
len(master["Visit_ID"].unique())

309

In [15]:
master["Type"].unique()

array(['genefamilies_relab', 'taxonomic_profile', 'pathabundance_relab',
       'ecs_relab'], dtype=object)

In [16]:
master["Race"].unique()

array(['White', 'Black/White', 'Black or African American', 'Brazilian',
       'White and African American', 'Hispanic/Latino & African American',
       'American Indian or Alaska Native', 'Portugese and Cape Verdean',
       'Hispanic or Latino'], dtype=object)

In [18]:
ecs = pd.read_csv("../data/csv/ecs/ecs_data_1.csv")

In [19]:
visits = ecs.groupby("Visit_name")

In [21]:
ecs['Visit_name'].unique()

array(['CSM5MCXH', 'CSM5MCXP', 'CSM5MCXT', 'CSM5MCY4', 'CSM5MCZB',
       'CSM67U9H', 'CSM67UA2', 'CSM67UAK'], dtype=object)

In [22]:
tax = pd.read_csv("../data/csv/tax/taxo_data_1.csv")

In [24]:
tax_v_g = tax.groupby(['Visit_name', 'Genus'])

In [26]:
tax_v_g['Metaphlan2_Analysis'].sum()

Visit_name  Genus
CSM5MCXD    g__Adlercreutzia                   0.00504
            g__Akkermansia                     3.08464
            g__Anaerostipes                    0.12301
            g__Anaerotruncus                   0.85129
            g__Bacteroides                    65.89707
                                                ...
PSMB4MC5    g__Roseburia                       9.41137
            g__Ruminococcus                    6.42311
            g__Subdoligranulum                 1.36199
            g__Sutterellaceae_unclassified     1.16928
            g__Veillonella                     0.08066
Name: Metaphlan2_Analysis, Length: 8630, dtype: float64

In [28]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1776 entries, 0 to 1775
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Subject_ID        1776 non-null   int64
 1   Sample_body_site  1776 non-null   object
 2   Visit_number      1776 non-null   int64
 3   Visit_ID          1776 non-null   object
 4   Type              1776 non-null   object
 5   urls              1776 non-null   object
 6   Age               1776 non-null   int64
 7   Sex               1776 non-null   object
 8   Diagnosis         1776 non-null   object
 9   Race              1776 non-null   object
dtypes: int64(3), object(7)
memory usage: 138.9+ KB

In [29]:
master_no_dup = master.drop_duplicates(subset=['Subject_ID', 'Visit_number', 'Visit_ID', 'Age', 'Sex', 'Diagnosis', 'Race'])

In [30]:
master_no_dup

,Subject_ID,Sample_body_site,Visit_number,Visit_ID,Type,urls,Age,Sex,Diagnosis,Race
0,2008,feces,11,MSM5LLDU,genefamilies_relab,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,30,Female,CD,White
7,2008,feces,25,MSM5LLDA,pathabundance_relab,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,30,Female,CD,White
14,2008,feces,5,MSM5LLDK,genefamilies_relab,https://downloads.hmpdacc.org/ihmp/ibd/metatra...,30,Female,CD,White
21,3001,feces,15,CSM5MCXD,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,43,Female,CD,White
28,3001,feces,25,CSM79HG5,pathabundance_relab,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,43,Female,CD,White
...,...,...,...,...,...,...,...,...,...,...
1751,3022,feces,11,CSM79HOX,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,69,Male,nonIBD,White
1755,3022,feces,20,CSM7KOOJ,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,69,Male,nonIBD,White
1759,3022,feces,15,CSM79HP4,pathabundance_relab,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,69,Male,nonIBD,White
1766,3022,feces,30,CSMAHYLR,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,69,Male,nonIBD,White
1770,3022,feces,25,CSM7KOOR,pathabundance_relab,https://downloads.hmpdacc.org/ihmp/ibd/metatra...,69,Male,nonIBD,White

In [32]:
genus_abundances = tax.loc[:,["Visit_name", 'Genus', 'Metaphlan2_Analysis']]

In [33]:
genus_abundances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8703 entries, 0 to 8702
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Visit_name           8703 non-null   object
 1   Genus                8703 non-null   object
 2   Metaphlan2_Analysis  8703 non-null   float64
dtypes: float64(1), object(2)
memory usage: 204.1+ KB

In [34]:
genus_abundances.describe()

       Metaphlan2_Analysis
count          8703.000000
mean              3.504539
std              10.453120
min               0.000030
25%               0.037340
50%               0.234670
75%               1.561465
max             100.000000

In [35]:
genus_abundances.rename(columns={'Visit_name': 'Visit_ID'}, inplace=True)

In [36]:
genus_abundances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8703 entries, 0 to 8702
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Visit_ID             8703 non-null   object
 1   Genus                8703 non-null   object
 2   Metaphlan2_Analysis  8703 non-null   float64
dtypes: float64(1), object(2)
memory usage: 204.1+ KB

In [37]:
all = pd.merge(master_no_dup, genus_abundances, on='Visit_ID')

In [38]:
all

,Subject_ID,Sample_body_site,Visit_number,Visit_ID,Type,urls,Age,Sex,Diagnosis,Race,Genus,Metaphlan2_Analysis
0,3001,feces,15,CSM5MCXD,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,43,Female,CD,White,g__Bacteroides,65.89707
1,3001,feces,15,CSM5MCXD,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,43,Female,CD,White,g__Faecalibacterium,5.54120
2,3001,feces,15,CSM5MCXD,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,43,Female,CD,White,g__Clostridium,5.26628
3,3001,feces,15,CSM5MCXD,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,43,Female,CD,White,g__Dialister,5.25671
4,3001,feces,15,CSM5MCXD,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,43,Female,CD,White,g__Oscillibacter,5.12882
...,...,...,...,...,...,...,...,...,...,...,...,...
8698,3022,feces,30,CSMAHYLR,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,69,Male,nonIBD,White,g__C2likevirus,0.03142
8699,3022,feces,30,CSMAHYLR,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,69,Male,nonIBD,White,g__Pseudoflavonifractor,0.02689
8700,3022,feces,30,CSMAHYLR,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,69,Male,nonIBD,White,g__Dorea,0.02287
8701,3022,feces,30,CSMAHYLR,taxonomic_profile,https://downloads.hmpdacc.org/ihmp/ibd/genome/...,69,Male,nonIBD,White,g__Anaerotruncus,0.01822
8702,3022,feces,25,CSM7KOOR,pathabundance_relab,https://downloads.hmpdacc.org/ihmp/ibd/metatra...,69,Male,nonIBD,White,g__Propionibacteriaceae_unclassified,100.00000

In [39]:
master_no_dup.drop(columns=['Sample_body_site', 'Type', 'urls'], inplace=True)

/tmp/ipykernel_41585/2620117038.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  master_no_dup.drop(columns=['Sample_body_site', 'Type', 'urls'], inplace=True)

In [40]:
master_no_dup

      Subject_ID  Visit_number  Visit_ID  Age     Sex Diagnosis   Race
0           2008            11  MSM5LLDU   30  Female        CD  White
7           2008            25  MSM5LLDA   30  Female        CD  White
14          2008             5  MSM5LLDK   30  Female        CD  White
21          3001            15  CSM5MCXD   43  Female        CD  White
28          3001            25  CSM79HG5   43  Female        CD  White
...          ...           ...       ...  ...     ...       ...    ...
1751        3022            11  CSM79HOX   69    Male    nonIBD  White
1755        3022            20  CSM7KOOJ   69    Male    nonIBD  White
1759        3022            15  CSM79HP4   69    Male    nonIBD  White
1766        3022            30  CSMAHYLR   69    Male    nonIBD  White
1770        3022            25  CSM7KOOR   69    Male    nonIBD  White

[309 rows x 7 columns]

In [41]:
genus_abundances

      Visit_ID                Genus  Metaphlan2_Analysis
0     MSMAPC7R       g__Bacteroides             50.47126
1     MSMAPC7R         g__Dialister             16.66864
2     MSMAPC7R  g__Faecalibacterium              8.38054
3     MSMAPC7R         g__Alistipes              5.78389
4     MSMAPC7R   g__Parabacteroides              4.92601
...        ...                  ...                  ...
8698  CSM7KOLE       g__Collinsella              0.04832
8699  CSM7KOLE       g__Clostridium              0.03796
8700  CSM7KOLE       g__Escherichia              0.03551
8701  CSM7KOLE             g__Dorea              0.02323
8702  CSM7KOLE   g__Bifidobacterium              0.01775

[8703 rows x 3 columns]

In [42]:
genus_abundances.reset_index(inplace=True)

In [43]:
genus_abundances

      index  Visit_ID                Genus  Metaphlan2_Analysis
0         0  MSMAPC7R       g__Bacteroides             50.47126
1         1  MSMAPC7R         g__Dialister             16.66864
2         2  MSMAPC7R  g__Faecalibacterium              8.38054
3         3  MSMAPC7R         g__Alistipes              5.78389
4         4  MSMAPC7R   g__Parabacteroides              4.92601
...     ...       ...                  ...                  ...
8698   8698  CSM7KOLE       g__Collinsella              0.04832
8699   8699  CSM7KOLE       g__Clostridium              0.03796
8700   8700  CSM7KOLE       g__Escherichia              0.03551
8701   8701  CSM7KOLE             g__Dorea              0.02323
8702   8702  CSM7KOLE   g__Bifidobacterium              0.01775

[8703 rows x 4 columns]

In [46]:
genus_abundances.rename(columns={'index': 'idx'}, inplace=True)

In [47]:
genus_abundances

       idx  Visit_ID                Genus  Metaphlan2_Analysis
0        0  MSMAPC7R       g__Bacteroides             50.47126
1        1  MSMAPC7R         g__Dialister             16.66864
2        2  MSMAPC7R  g__Faecalibacterium              8.38054
3        3  MSMAPC7R         g__Alistipes              5.78389
4        4  MSMAPC7R   g__Parabacteroides              4.92601
...    ...       ...                  ...                  ...
8698  8698  CSM7KOLE       g__Collinsella              0.04832
8699  8699  CSM7KOLE       g__Clostridium              0.03796
8700  8700  CSM7KOLE       g__Escherichia              0.03551
8701  8701  CSM7KOLE             g__Dorea              0.02323
8702  8702  CSM7KOLE   g__Bifidobacterium              0.01775

[8703 rows x 4 columns]

In [48]:
genus = genus_abundances.pivot(index='idx', columns='Genus', values='Metaphlan2_Analysis')

In [49]:
genus

Genus,g__Abiotrophia,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Acinetobacter,g__Actinobacillus,g__Actinomyces,g__Adlercreutzia,g__Aerococcus,g__Aggregatibacter,g__Akkermansia,...,g__Sutterella,g__Sutterellaceae_unclassified,g__Synergistes,g__T4likevirus,g__Tunalikevirus,g__Turicibacter,g__Varibaculum,g__Veillonella,g__Weissella,g__Wohlfahrtiimonas
idx,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
genus['Visit_ID'] = genus_abundances['Visit_ID']

In [51]:
genus

Genus,g__Abiotrophia,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Acinetobacter,g__Actinobacillus,g__Actinomyces,g__Adlercreutzia,g__Aerococcus,g__Aggregatibacter,g__Akkermansia,...,g__Sutterellaceae_unclassified,g__Synergistes,g__T4likevirus,g__Tunalikevirus,g__Turicibacter,g__Varibaculum,g__Veillonella,g__Weissella,g__Wohlfahrtiimonas,Visit_ID
idx,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MSMAPC7R
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MSMAPC7R
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MSMAPC7R
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MSMAPC7R
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MSMAPC7R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSM7KOLE
8699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSM7KOLE
8700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSM7KOLE
8701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSM7KOLE
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSM7KOLE

In [52]:
genus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8703 entries, 0 to 8702
Columns: 151 entries, g__Abiotrophia to Visit_ID
dtypes: float64(150), object(1)
memory usage: 10.1+ MB

In [53]:
genus.describe()

Genus,g__Abiotrophia,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Acinetobacter,g__Actinobacillus,g__Actinomyces,g__Adlercreutzia,g__Aerococcus,g__Aggregatibacter,g__Akkermansia,...,g__Sutterella,g__Sutterellaceae_unclassified,g__Synergistes,g__T4likevirus,g__Tunalikevirus,g__Turicibacter,g__Varibaculum,g__Veillonella,g__Weissella,g__Wohlfahrtiimonas
count,2.000000,26.000000,48.000000,1.00000,23.000000,7.000000,33.000000,1.00000,11.000000,110.000000,...,72.000000,49.000000,3.000000,1.00000,2.000000,12.000000,2.000000,207.000000,4.000000,1.00000
mean,0.000225,0.164962,2.964914,0.04014,0.025310,0.250104,0.023351,0.00901,0.044157,2.470357,...,2.662260,1.122950,2.043420,12.36296,6.518880,0.098437,0.225835,1.759848,0.023207,0.00687
std,0.000148,0.153305,4.912967,NaN,0.027143,0.399050,0.037778,NaN,0.116758,4.890413,...,3.737265,3.752682,0.761486,NaN,1.884977,0.098865,0.154029,5.422815,0.029156,NaN
min,0.000120,0.002260,0.001470,0.04014,0.004240,0.003810,0.000400,0.00901,0.000970,0.001160,...,0.001030,0.001100,1.414060,12.36296,5.186000,0.000760,0.116920,0.000450,0.001760,0.00687
25%,0.000173,0.047590,0.058607,0.04014,0.006985,0.006675,0.006720,0.00901,0.002975,0.056455,...,0.901738,0.080750,1.620190,12.36296,5.852440,0.004960,0.171377,0.031995,0.006290,0.00687
50%,0.000225,0.128880,0.926730,0.04014,0.014870,0.010550,0.010350,0.00901,0.005470,0.466275,...,1.616160,0.279870,1.826320,12.36296,6.518880,0.079830,0.225835,0.123240,0.012605,0.00687
75%,0.000277,0.239858,3.658370,0.04014,0.026845,0.441580,0.022630,0.00901,0.014115,2.768327,...,2.757115,0.727290,2.358100,12.36296,7.185320,0.173918,0.280292,0.747950,0.029523,0.00687
max,0.000330,0.606900,25.465420,0.04014,0.091830,0.839860,0.180300,0.00901,0.394730,28.460070,...,26.375170,26.120140,2.889880,12.36296,7.851760,0.282150,0.334750,40.341380,0.065860,0.00687

In [54]:
master_no_dup

      Subject_ID  Visit_number  Visit_ID  Age     Sex Diagnosis   Race
0           2008            11  MSM5LLDU   30  Female        CD  White
7           2008            25  MSM5LLDA   30  Female        CD  White
14          2008             5  MSM5LLDK   30  Female        CD  White
21          3001            15  CSM5MCXD   43  Female        CD  White
28          3001            25  CSM79HG5   43  Female        CD  White
...          ...           ...       ...  ...     ...       ...    ...
1751        3022            11  CSM79HOX   69    Male    nonIBD  White
1755        3022            20  CSM7KOOJ   69    Male    nonIBD  White
1759        3022            15  CSM79HP4   69    Male    nonIBD  White
1766        3022            30  CSMAHYLR   69    Male    nonIBD  White
1770        3022            25  CSM7KOOR   69    Male    nonIBD  White

[309 rows x 7 columns]

In [55]:
result = pd.merge(master_no_dup, genus, on='Visit_ID')

In [56]:
result

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,g__Abiotrophia,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,...,g__Sutterella,g__Sutterellaceae_unclassified,g__Synergistes,g__T4likevirus,g__Tunalikevirus,g__Turicibacter,g__Varibaculum,g__Veillonella,g__Weissella,g__Wohlfahrtiimonas
0,3001,15,CSM5MCXD,43,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3001,15,CSM5MCXD,43,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3001,15,CSM5MCXD,43,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3001,15,CSM5MCXD,43,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3001,15,CSM5MCXD,43,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,3022,30,CSMAHYLR,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,3022,30,CSMAHYLR,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,3022,30,CSMAHYLR,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,3022,30,CSMAHYLR,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,3022,25,CSM7KOOR,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
result.to_csv('all.csv')

In [58]:
reuslt = result.fillna(0.0)

In [59]:
result

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,g__Abiotrophia,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,...,g__Sutterella,g__Sutterellaceae_unclassified,g__Synergistes,g__T4likevirus,g__Tunalikevirus,g__Turicibacter,g__Varibaculum,g__Veillonella,g__Weissella,g__Wohlfahrtiimonas
0,3001,15,CSM5MCXD,43,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3001,15,CSM5MCXD,43,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3001,15,CSM5MCXD,43,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3001,15,CSM5MCXD,43,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3001,15,CSM5MCXD,43,Female,CD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,3022,30,CSMAHYLR,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,3022,30,CSMAHYLR,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,3022,30,CSMAHYLR,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,3022,30,CSMAHYLR,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,3022,25,CSM7KOOR,69,Male,nonIBD,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
res = result.fillna(0.0)

In [63]:
res

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,g__Abiotrophia,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,...,g__Sutterella,g__Sutterellaceae_unclassified,g__Synergistes,g__T4likevirus,g__Tunalikevirus,g__Turicibacter,g__Varibaculum,g__Veillonella,g__Weissella,g__Wohlfahrtiimonas
0,3001,15,CSM5MCXD,43,Female,CD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3001,15,CSM5MCXD,43,Female,CD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3001,15,CSM5MCXD,43,Female,CD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3001,15,CSM5MCXD,43,Female,CD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3001,15,CSM5MCXD,43,Female,CD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,3022,30,CSMAHYLR,69,Male,nonIBD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8699,3022,30,CSMAHYLR,69,Male,nonIBD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8700,3022,30,CSMAHYLR,69,Male,nonIBD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8701,3022,30,CSMAHYLR,69,Male,nonIBD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8702,3022,25,CSM7KOOR,69,Male,nonIBD,White,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
res.to_csv('all0.csv')