In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
master = pd.read_excel("../data/meta/Master_List.xlsx")

In [3]:
dir = "../data/csv/ecs/"
files = os.listdir(dir)
files = [os.path.join(dir, f) for f in files]
ecs = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [4]:
dir = "../data/csv/pwy/"
files = os.listdir(dir)
files = [os.path.join(dir, f) for f in files]
pwy = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [5]:
dir = "../data/csv/tax/"
files = os.listdir(dir)
files = [os.path.join(dir, f) for f in files]
tax = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [6]:
master.drop(columns=['Sample_body_site', 'Type', 'urls'], inplace=True)
unique_master = master.drop_duplicates(subset=['Subject_ID', 'Visit_number', 'Visit_ID', 'Age', 'Sex', 'Diagnosis', 'Race'])

In [7]:
unique_master.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1339 entries, 0 to 7522
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Subject_ID    1339 non-null   int64
 1   Visit_number  1339 non-null   int64
 2   Visit_ID      1339 non-null   object
 3   Age           1339 non-null   int64
 4   Sex           1339 non-null   object
 5   Diagnosis     1339 non-null   object
 6   Race          1339 non-null   object
dtypes: int64(3), object(4)
memory usage: 83.7+ KB

In [12]:
for col in unique_master.columns:
    print(f"{col}'s lenth is: {len(unique_master[col].unique())}")

Subject_ID's lenth is: 106
Visit_number's lenth is: 24
Visit_ID's lenth is: 1339
Age's lenth is: 50
Sex's lenth is: 2
Diagnosis's lenth is: 3
Race's lenth is: 9

In [15]:
unique_master.groupby(['Subject_ID', 'Visit_ID'], group_keys=True).apply(lambda x: x)

                         Subject_ID  Visit_number  Visit_ID  Age     Sex  \
Subject_ID Visit_ID
2008       MSM5LLDA 32         2008            25  MSM5LLDA   30  Female
           MSM5LLDC 25         2008            22  MSM5LLDC   30  Female
           MSM5LLDE 0          2008            23  MSM5LLDE   30  Female
           MSM5LLDI 53         2008             4  MSM5LLDI   30  Female
           MSM5LLDK 39         2008             5  MSM5LLDK   30  Female
...                             ...           ...       ...  ...     ...
6038       PSMA26A1 835        6038            16  PSMA26A1   16  Female
           PSMA26A3 854        6038            18  PSMA26A3   16  Female
           PSMB4MC1 850        6038            22  PSMB4MC1   16  Female
           PSMB4MC3 846        6038            23  PSMB4MC3   16  Female
           PSMB4MC5 861        6038            25  PSMB4MC5   16  Female

                        Diagnosis   Race
Subject_ID Visit_ID
2008       MSM5LLDA 32         CD  White
           MSM5LLDC 25         CD  White
           MSM5LLDE 0          CD  White
           MSM5LLDI 53         CD  White
           MSM5LLDK 39         CD  White
...                           ...    ...
6038       PSMA26A1 835        UC  White
           PSMA26A3 854        UC  White
           PSMB4MC1 850        UC  White
           PSMB4MC3 846        UC  White
           PSMB4MC5 861        UC  White

[1339 rows x 7 columns]

In [17]:
unique_master.groupby(['Subject_ID'], group_keys=True).agg('count')

            Visit_number  Visit_ID  Age  Sex  Diagnosis  Race
Subject_ID
2008                  10        10   10   10         10    10
2014                   5         5    5    5          5     5
2021                   3         3    3    3          3     3
2025                   6         6    6    6          6     6
2026                  12        12   12   12         12    12
...                  ...       ...  ...  ...        ...   ...
6028                  10        10   10   10         10    10
6033                  10        10   10   10         10    10
6035                  11        11   11   11         11    11
6037                   8         8    8    8          8     8
6038                  12        12   12   12         12    12

[106 rows x 6 columns]

In [18]:
ecs

,Unnamed: 0,id,Abundance_RPKs,Visit_name,Enzyme,Genus
0,5450000,MSM6J2Q1|4.1.1.19|g__Veillonella,0.000004,MSM6J2Q1,4.1.1.19,g__Veillonella
1,5450001,MSM6J2Q1|4.1.1.20|,0.002339,MSM6J2Q1,4.1.1.20,NaN
2,5450002,MSM6J2Q1|4.1.1.20|g__Akkermansia,0.000006,MSM6J2Q1,4.1.1.20,g__Akkermansia
3,5450003,MSM6J2Q1|4.1.1.20|g__Alistipes,0.000049,MSM6J2Q1,4.1.1.20,g__Alistipes
4,5450004,MSM6J2Q1|4.1.1.20|g__Bacteroides,0.001050,MSM6J2Q1,4.1.1.20,g__Bacteroides
...,...,...,...,...,...,...
8906263,4249995,HSM7J4Q9|2.3.1.51|g__Faecalibacterium,0.000171,HSM7J4Q9,2.3.1.51,g__Faecalibacterium
8906264,4249996,HSM7J4Q9|2.3.1.51|g__Lachnospiraceae_noname,0.000002,HSM7J4Q9,2.3.1.51,g__Lachnospiraceae_noname
8906265,4249997,HSM7J4Q9|2.3.1.51|g__Parabacteroides,0.000209,HSM7J4Q9,2.3.1.51,g__Parabacteroides
8906266,4249998,HSM7J4Q9|2.3.1.51|g__Paraprevotella,0.000087,HSM7J4Q9,2.3.1.51,g__Paraprevotella
8906267,4249999,HSM7J4Q9|2.3.1.51|g__Roseburia,0.000024,HSM7J4Q9,2.3.1.51,g__Roseburia

In [19]:
tax.groupby(['Visit_name']).apply(lambda x: x)

                  Unnamed: 0  \
Visit_name
CSM5FZ4M   35320          41
           35321          42
           35322          43
           35323          44
           35324          45
...                      ...
PSMB4MC7   4242           65
           4243           66
           4244           67
           4245           68
           4246           69

                                                             OTU_ID  \
Visit_name
CSM5FZ4M   35320  k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o_...
           35321  k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...
           35322  k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o_...
           35323  k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o_...
           35324  k__Bacteria|p__Firmicutes|c__Negativicutes|o__...
...                                                             ...
PSMB4MC7   4242   k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...
           4243   k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...
           4244   k__Bacteria|p__Firmicutes|c__Erysipelotrichia|...
           4245   k__Bacteria|p__Proteobacteria|c__Gammaproteoba...
           4246   k__Bacteria|p__Actinobacteria|c__Actinobacteri...

                  Metaphlan2_Analysis Visit_name      Kingdom  \
Visit_name
CSM5FZ4M   35320             68.74649   CSM5FZ4M  k__Bacteria
           35321              9.36191   CSM5FZ4M  k__Bacteria
           35322              7.90375   CSM5FZ4M  k__Bacteria
           35323              6.29680   CSM5FZ4M  k__Bacteria
           35324              2.87905   CSM5FZ4M  k__Bacteria
...                               ...        ...          ...
PSMB4MC7   4242               0.03872   PSMB4MC7  k__Bacteria
           4243               0.02757   PSMB4MC7  k__Bacteria
           4244               0.01895   PSMB4MC7  k__Bacteria
           4245               0.01492   PSMB4MC7  k__Bacteria
           4246               0.01075   PSMB4MC7  k__Bacteria

                             Phylum                   Class  \
Visit_name
CSM5FZ4M   35320   p__Bacteroidetes          c__Bacteroidia
           35321      p__Firmicutes           c__Clostridia
           35322   p__Bacteroidetes          c__Bacteroidia
           35323   p__Bacteroidetes          c__Bacteroidia
           35324      p__Firmicutes        c__Negativicutes
...                             ...                     ...
PSMB4MC7   4242       p__Firmicutes           c__Clostridia
           4243       p__Firmicutes           c__Clostridia
           4244       p__Firmicutes     c__Erysipelotrichia
           4245   p__Proteobacteria  c__Gammaproteobacteria
           4246   p__Actinobacteria       c__Actinobacteria

                                  Order                   Family  \
Visit_name
CSM5FZ4M   35320       o__Bacteroidales        f__Bacteroidaceae
           35321       o__Clostridiales       f__Ruminococcaceae
           35322       o__Bacteroidales    f__Porphyromonadaceae
           35323       o__Bacteroidales         f__Rikenellaceae
           35324     o__Selenomonadales    f__Acidaminococcaceae
...                                 ...                      ...
PSMB4MC7   4242        o__Clostridiales  f__Clostridiales_noname
           4243        o__Clostridiales      f__Oscillospiraceae
           4244   o__Erysipelotrichales   f__Erysipelotrichaceae
           4245    o__Enterobacteriales    f__Enterobacteriaceae
           4246     o__Coriobacteriales     f__Coriobacteriaceae

                                    Genus  Species
Visit_name
CSM5FZ4M   35320           g__Bacteroides      NaN
           35321      g__Faecalibacterium      NaN
           35322       g__Parabacteroides      NaN
           35323             g__Alistipes      NaN
           35324       g__Acidaminococcus      NaN
...                                   ...      ...
PSMB4MC7   4242   g__Clostridiales_noname      NaN
           4243          g__Oscillibacter      NaN
           4244             g__Holdemania      NaN
           4245            g__Escherichia      NaN
           4246          g__Adlercreutzia      NaN

[38275 rows x 11 columns]

In [21]:
tax.groupby(['Visit_name'])['OTU_ID'].agg('count')

Visit_name
CSM5FZ4M    26
CSM5MCUO    38
CSM5MCVL    22
CSM5MCVN    20
CSM5MCW6    23
            ..
PSMB4MBS    30
PSMB4MC1    35
PSMB4MC3    24
PSMB4MC5    26
PSMB4MC7    29
Name: OTU_ID, Length: 1313, dtype: int64

In [29]:
tax.groupby(['Visit_name'])['Genus'].unique()

Visit_name
CSM5FZ4M    [g__Bacteroides, g__Faecalibacterium, g__Parab...
CSM5MCUO    [g__Bacteroides, g__Faecalibacterium, g__Eubac...
CSM5MCVL    [g__Bacteroides, g__Sutterellaceae_unclassifie...
CSM5MCVN    [g__Bacteroides, g__Acidaminococcus, g__Clostr...
CSM5MCW6    [g__Bacteroides, g__Clostridium, g__Alistipes,...
                                  ...
PSMB4MBS    [g__Bacteroides, g__Subdoligranulum, g__Faecal...
PSMB4MC1    [g__Bacteroides, g__Faecalibacterium, g__Eubac...
PSMB4MC3    [g__Bacteroides, g__Faecalibacterium, g__Parab...
PSMB4MC5    [g__Bacteroides, g__Eubacterium, g__Faecalibac...
PSMB4MC7    [g__Prevotella, g__Bacteroides, g__Eubacterium...
Name: Genus, Length: 1313, dtype: object

In [32]:
ecs.groupby(['Visit_name'])['Genus'].agg('count')

Visit_name
CSM5FZ4M    4523
CSM5MCUO    7700
CSM5MCVL    4144
CSM5MCVN    3009
CSM5MCW6    3795
            ...
PSMB4MBS    5377
PSMB4MC1    7050
PSMB4MC3    4342
PSMB4MC5    4908
PSMB4MC7    6240
Name: Genus, Length: 1311, dtype: int64