In [1]:
import os
import numpy as np
import pandas as pd

In [4]:
dir = '../data/agg/ecs_normal.csv'
ecs = pd.read_csv(dir)

In [5]:
dir = '../data/agg/pwy_normal.csv'
pwy = pd.read_csv(dir)

In [2]:
dir = '../data/agg/master_tax_normal.csv'
master_tax = pd.read_csv(dir)

In [3]:
master_tax.iloc[:, 0:10].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1303 non-null   int64
 1   Subject_ID    1303 non-null   int64
 2   Visit_number  1303 non-null   int64
 3   Visit_ID      1303 non-null   object
 4   Age           1303 non-null   int64
 5   Sex           1303 non-null   object
 6   Diagnosis     1303 non-null   object
 7   Race          1303 non-null   object
 8   age_group     1303 non-null   int64
 9   visit_stage   1303 non-null   object
dtypes: int64(5), object(5)
memory usage: 101.9+ KB

In [6]:
master_tax.drop(master_tax.columns[[0]], axis=1, inplace=True)

In [8]:
genus_columns = master_tax.columns[9:]
master_tax.groupby(['Diagnosis'])[genus_columns].agg(['mean', 'count', 'sum'])

          g__Acidaminococcaceae_unclassified                  \
                                        mean count       sum
Diagnosis
CD                                  0.042400   585  24.80400
UC                                  0.017607   361   6.35609
nonIBD                              0.009503   357   3.39262

          g__Acidaminococcus                  g__Actinobacillus        \
                        mean count        sum              mean count
Diagnosis
CD                  1.037468   585  606.91900          0.004097   585
UC                  0.264664   361   95.54355          0.002054   361
nonIBD              0.139820   357   49.91590          0.001214   357

                   g__Actinomyces  ... g__Sutterella  \
               sum           mean  ...           sum
Diagnosis                          ...
CD         2.39662       0.007135  ...     433.74119
UC         0.74156       0.004979  ...     122.18816
nonIBD     0.43343       0.000240  ...     225.84983

          g__Sutterellaceae_unclassified                  g__Turicibacter  \
                                    mean count        sum            mean
Diagnosis
CD                              0.198604   585  116.18358        0.004829
UC                              0.176613   361   63.75725        0.001795
nonIBD                          0.080617   357   28.78038        0.001707

                         g__Veillonella
          count      sum           mean count        sum
Diagnosis
CD          585  2.82498       1.657057   585  969.37830
UC          361  0.64787       0.797286   361  287.82035
nonIBD      357  0.60950       0.669578   357  239.03919

[3 rows x 282 columns]

In [18]:
master_tax.groupby(['Diagnosis', 'Sex'])[genus_columns].agg(['mean', 'count', 'sum'])

                 g__Acidaminococcaceae_unclassified                  \
                                               mean count       sum
Diagnosis Sex
CD        Female                           0.029408   280   8.23427
          Male                             0.054327   305  16.56973
UC        Female                           0.029824   212   6.32274
          Male                             0.000224   149   0.03335
nonIBD    Female                           0.019580   141   2.76085
          Male                             0.002925   216   0.63177

                 g__Acidaminococcus                  g__Actinobacillus        \
                               mean count        sum              mean count
Diagnosis Sex
CD        Female           0.770976   280  215.87327          0.001214   280
          Male             1.282117   305  391.04573          0.006743   305
UC        Female           0.435434   212   92.31191          0.003142   212
          Male             0.021689   149    3.23164          0.000507   149
nonIBD    Female           0.346395   141   48.84171          0.001789   141
          Male             0.004973   216    1.07419          0.000839   216

                          g__Actinomyces  ... g__Sutterella  \
                      sum           mean  ...           sum
Diagnosis Sex                             ...
CD        Female  0.33991       0.000181  ...      74.69383
          Male    2.05671       0.013519  ...     359.04736
UC        Female  0.66601       0.000467  ...      66.75313
          Male    0.07555       0.011400  ...      55.43503
nonIBD    Female  0.25219       0.000442  ...      67.55924
          Male    0.18124       0.000108  ...     158.29059

                 g__Sutterellaceae_unclassified                  \
                                           mean count       sum
Diagnosis Sex
CD        Female                       0.253408   280  70.95418
          Male                         0.148293   305  45.22940
UC        Female                       0.263864   212  55.93914
          Male                         0.052471   149   7.81811
nonIBD    Female                       0.019740   141   2.78334
          Male                         0.120357   216  25.99704

                 g__Turicibacter                g__Veillonella        \
                            mean count      sum           mean count
Diagnosis Sex
CD        Female        0.002606   280  0.72962       1.029749   280
          Male          0.006870   305  2.09536       2.232946   305
UC        Female        0.000045   212  0.00959       0.833446   212
          Male          0.004284   149  0.63828       0.745837   149
nonIBD    Female        0.000793   141  0.11187       1.209447   141
          Male          0.002304   216  0.49763       0.317162   216


                        sum
Diagnosis Sex
CD        Female  288.32967
          Male    681.04863
UC        Female  176.69064
          Male    111.12971
nonIBD    Female  170.53209
          Male     68.50710

[6 rows x 282 columns]

In [19]:
master_tax.groupby(['Diagnosis', 'Age'])[genus_columns].agg(['mean', 'count', 'sum'])

              g__Acidaminococcaceae_unclassified                 \
                                            mean count      sum
Diagnosis Age
CD        0                             0.078544    10  0.78544
          8                             0.000000    24  0.00000
          9                             0.000000     9  0.00000
          10                            0.000000    32  0.00000
          11                            0.000000    12  0.00000
...                                          ...   ...      ...
nonIBD    56                            0.046213    13  0.60077
          57                            0.002376    12  0.02851
          61                            0.000000    10  0.00000
          62                            0.000000    11  0.00000
          69                            0.000124    20  0.00249

              g__Acidaminococcus                 g__Actinobacillus        \
                            mean count       sum              mean count
Diagnosis Age
CD        0             2.448778    10  24.48778          0.000000    10
          8             0.000468    24   0.01122          0.005903    24
          9             0.000000     9   0.00000          0.000000     9
          10            0.000357    32   0.01142          0.003338    32
          11            0.000000    12   0.00000          0.003343    12
...                          ...   ...       ...               ...   ...
nonIBD    56            0.000000    13   0.00000          0.000000    13
          57            0.000554    12   0.00665          0.003649    12
          61            0.000000    10   0.00000          0.000000    10
          62            0.000000    11   0.00000          0.000000    11
          69            0.052257    20   1.04515          0.000267    20

                       g__Actinomyces  ... g__Sutterella  \
                   sum           mean  ...           sum
Diagnosis Age                          ...
CD        0    0.00000       0.000000  ...       0.00000
          8    0.14167       0.000000  ...      70.70581
          9    0.00000       0.125829  ...       0.79107
          10   0.10680       0.000113  ...       0.01220
          11   0.04011       0.000000  ...      10.06035
...                ...            ...  ...           ...
nonIBD    56   0.00000       0.000000  ...       3.75154
          57   0.04379       0.000000  ...       3.85991
          61   0.00000       0.001811  ...      11.94938
          62   0.00000       0.000000  ...       0.00000
          69   0.00535       0.000000  ...       2.24251

              g__Sutterellaceae_unclassified                 g__Turicibacter  \
                                        mean count       sum            mean
Diagnosis Age
CD        0                         0.000000    10   0.00000        0.000000
          8                         0.400306    24   9.60735        0.000000
          9                         0.000000     9   0.00000        0.000000
          10                        0.981305    32  31.40175        0.006444
          11                        0.000000    12   0.00000        0.000000
...                                      ...   ...       ...             ...
nonIBD    56                        0.917367    13  11.92577        0.000000
          57                        0.191512    12   2.29814        0.003480
          61                        0.064029    10   0.64029        0.000000
          62                        0.001223    11   0.01345        0.000000
          69                        0.000000    20   0.00000        0.001860

                             g__Veillonella
              count      sum           mean count       sum
Diagnosis Age
CD        0      10  0.00000       0.042827    10   0.42827
          8      24  0.00000       1.255665    24  30.13597
          9       9  0.00000       0.000000     9   0.00000
          10     32  0.20622       0.756168    32  24.19737
          11     12  0.00000       0.471420    12   5.65704
...             ...      ...            ...   ...       ...
nonIBD    56     13  0.00000       0.000000    13   0.00000
          57     12  0.04176       2.274511    12  27.29413
          61     10  0.00000       0.024972    10   0.24972
          62     11  0.00000       0.000000    11   0.00000
          69     20  0.03720       0.025899    20   0.51798

[79 rows x 282 columns]

In [12]:
def visit_stage(visit):
    if visit >= 4 and visit <=9:
        return "stage 1"
    elif visit >= 11 and visit <= 16:
        return "stage 2"
    elif visit >= 18 and visit <= 23:
        return "stage 3"
    elif visit >= 25 and visit <= 30:
        return "stage 4"
    else:
        return "unknown"

def age_group(age):
    if age <= 18:
        return 1
    elif age > 18 and age <= 40:
        return 2
    elif age > 40:
        return 3

In [13]:
master = pd.read_excel('../data/meta/Master_List.xlsx')
master.drop(columns=['Sample_body_site', 'Type', 'urls'], inplace=True)
master = master.drop_duplicates(subset=['Subject_ID', 'Visit_number', 'Visit_ID', 'Age', 'Sex', 'Diagnosis', 'Race'])
master.loc[:, ['age_group']] = master['Age'].apply(lambda age: age_group(age))
master.loc[:, ['visit_stage']] = master['Visit_number'].apply(lambda visit: visit_stage(visit))

In [14]:
master

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,age_group,visit_stage
0,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3
4,2008,6,MSM5LLDM,30,Female,CD,White,2,stage 1
11,2008,28,MSM6J2LB,30,Female,CD,White,2,stage 4
18,2008,11,MSM5LLDU,30,Female,CD,White,2,stage 2
25,2008,22,MSM5LLDC,30,Female,CD,White,2,stage 3
...,...,...,...,...,...,...,...,...,...
7501,3022,19,CSM7KOOH,69,Male,nonIBD,White,3,stage 3
7508,3022,4,CSM67UH7,69,Male,nonIBD,White,3,stage 1
7512,3022,22,CSM7KOON,69,Male,nonIBD,White,3,stage 3
7516,3022,25,CSM7KOOR,69,Male,nonIBD,White,3,stage 4
7522,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1

In [10]:
ecs.drop(ecs.columns[:3], axis=1, inplace=True)

In [15]:
ecs.rename(columns={'Visit_name': 'Visit_ID'}, inplace=True)
ecs

,id,Visit_ID,Enzyme,Genus,Abundance_RPKs
0,HSM7J4NS|1.1.1.77|g__Eubacterium,HSM7J4NS,1.1.1.77,g__Eubacterium,0.006414
1,HSM7J4NS|1.1.1.77|g__Faecalibacterium,HSM7J4NS,1.1.1.77,g__Faecalibacterium,0.061234
2,HSM7J4NS|1.1.1.77|g__Lachnospiraceae_noname,HSM7J4NS,1.1.1.77,g__Lachnospiraceae_noname,0.000996
3,HSM7J4NS|1.1.1.77|g__Roseburia,HSM7J4NS,1.1.1.77,g__Roseburia,0.017332
4,HSM7J4NS|1.1.1.79|g__Escherichia,HSM7J4NS,1.1.1.79,g__Escherichia,0.000586
...,...,...,...,...,...
7523525,CSM7KOPG|2.1.3.3|g__Clostridium,CSM7KOPG,2.1.3.3,g__Clostridium,0.003155
7523526,CSM7KOPG|2.1.3.3|g__Dorea,CSM7KOPG,2.1.3.3,g__Dorea,0.001145
7523527,CSM7KOPG|2.1.3.3|g__Escherichia,CSM7KOPG,2.1.3.3,g__Escherichia,0.000579
7523528,CSM7KOPG|2.1.3.3|g__Eubacterium,CSM7KOPG,2.1.3.3,g__Eubacterium,0.002367
7523529,CSM7KOPG|2.1.3.3|g__Faecalibacterium,CSM7KOPG,2.1.3.3,g__Faecalibacterium,0.018331

In [16]:
master_ecs = pd.merge(master, ecs, on='Visit_ID')

In [17]:
master_ecs

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,age_group,visit_stage,id,Enzyme,Genus,Abundance_RPKs
0,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|5.3.1.16|g__Parabacteroides,5.3.1.16,g__Parabacteroides,0.010612
1,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|5.3.1.16|g__Ruminococcaceae_noname,5.3.1.16,g__Ruminococcaceae_noname,0.000311
2,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|5.3.1.16|g__Streptococcus,5.3.1.16,g__Streptococcus,0.000601
3,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|5.3.1.17|g__Bacteroides,5.3.1.17,g__Bacteroides,0.189328
4,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|5.3.1.17|g__Eubacterium,5.3.1.17,g__Eubacterium,0.005010
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7523525,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|6.5.1.2|g__Lachnospiraceae_noname,6.5.1.2,g__Lachnospiraceae_noname,0.000227
7523526,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|6.5.1.2|g__Parabacteroides,6.5.1.2,g__Parabacteroides,0.002801
7523527,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|6.5.1.2|g__Parasutterella,6.5.1.2,g__Parasutterella,0.000810
7523528,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|6.5.1.2|g__Roseburia,6.5.1.2,g__Roseburia,0.005269
7523529,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|6.5.1.4|g__Burkholderiales_noname,6.5.1.4,g__Burkholderiales_noname,0.000844

In [35]:
master_ecs.groupby(['Diagnosis', 'Genus', 'Enzyme'])['Abundance_RPKs'].agg(['mean', 'count', 'sum'])

                                            mean  count       sum
Diagnosis Genus              Enzyme
CD        g__Acidaminococcus 1.1.1.157  0.001263      6  0.007577
                             1.1.1.169  0.034835     44  1.532719
                             1.1.1.205  0.000705      8  0.005636
                             1.1.1.22   0.000291      2  0.000581
                             1.1.1.23   0.012767     49  0.625587
...                                          ...    ...       ...
nonIBD    g__Veillonella     6.3.5.3    0.000423     69  0.029187
                             6.3.5.5    0.005248    134  0.703190
                             6.3.5.7    0.003811    141  0.537282
                             6.4.1.1    0.003975    138  0.548579
                             6.5.1.2    0.000405     53  0.021460

[84811 rows x 3 columns]

In [36]:
master_ecs.groupby(['Diagnosis', 'Sex', 'Genus', 'Enzyme'])['Abundance_RPKs'].agg(['mean', 'count', 'sum'])

                                                   mean  count       sum
Diagnosis Sex    Genus              Enzyme
CD        Female g__Acidaminococcus 1.1.1.169  0.020630     13  0.268185
                                    1.1.1.23   0.007777     12  0.093321
                                    1.1.1.25   0.010611     12  0.127338
                                    1.1.1.267  0.009476     13  0.123187
                                    1.1.1.27   0.011289     13  0.146762
...                                                 ...    ...       ...
nonIBD    Male   g__Veillonella     6.3.5.3    0.000403     39  0.015710
                                    6.3.5.5    0.002173     65  0.141263
                                    6.3.5.7    0.001719     73  0.125504
                                    6.4.1.1    0.001880     66  0.124078
                                    6.5.1.2    0.000341     34  0.011603

[151217 rows x 3 columns]

In [24]:
master_ecs.groupby(['Diagnosis', 'Age', 'Genus', 'Enzyme'])['Abundance_RPKs'].agg(['mean', 'count', 'sum'])

                   mean   count     sum
Diagnosis Age
CD        0    0.019870   50326  1000.0
          8    0.016923  147726  2500.0
          9    0.027139   33162   900.0
          10   0.016133  198351  3200.0
          11   0.018488   70317  1300.0
...                 ...     ...     ...
nonIBD    56   0.012486  104119  1300.0
          57   0.014378   83462  1200.0
          61   0.015054   66429  1000.0
          62   0.015721   69968  1100.0
          69   0.021786   87212  1900.0

[79 rows x 3 columns]

In [27]:
pwy

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,Visit_name,PWY,Genus,Abundance
0,0,0,800000,MSM9VZKC|PWY-6123|g__Bacteroides,MSM9VZKC,PWY-6123,g__Bacteroides,0.073452
1,1,1,800001,MSM9VZKC|PWY-6123|g__Faecalibacterium,MSM9VZKC,PWY-6123,g__Faecalibacterium,0.718210
2,2,2,800002,MSM9VZKC|PWY-6123|g__Lachnospiraceae_noname,MSM9VZKC,PWY-6123,g__Lachnospiraceae_noname,0.005276
3,3,4,800004,MSM9VZKC|PWY-6124|g__Bacteroides,MSM9VZKC,PWY-6124,g__Bacteroides,0.069221
4,4,5,800005,MSM9VZKC|PWY-6124|g__Faecalibacterium,MSM9VZKC,PWY-6124,g__Faecalibacterium,0.703711
...,...,...,...,...,...,...,...,...
729012,729012,49989,399989,HSM7CZ1V|PEPTIDOGLYCANSYN-PWY|g__Parasutterella,HSM7CZ1V,PEPTIDOGLYCANSYN-PWY,g__Parasutterella,0.005657
729013,729013,49996,399996,HSM7CZ1V|PWY-1042|g__Alistipes,HSM7CZ1V,PWY-1042,g__Alistipes,0.028047
729014,729014,49997,399997,HSM7CZ1V|PWY-1042|g__Bacteroides,HSM7CZ1V,PWY-1042,g__Bacteroides,0.529900
729015,729015,49998,399998,HSM7CZ1V|PWY-1042|g__Blautia,HSM7CZ1V,PWY-1042,g__Blautia,0.006493
729016,729016,49999,399999,HSM7CZ1V|PWY-1042|g__Faecalibacterium,HSM7CZ1V,PWY-1042,g__Faecalibacterium,0.183487

In [29]:
pwy.drop(pwy.columns[:3], axis=1, inplace=True)
pwy.rename(columns={'Visit_name': 'Visit_ID'}, inplace=True)
pwy

,id,Visit_ID,PWY,Genus,Abundance
0,MSM9VZKC|PWY-6123|g__Bacteroides,MSM9VZKC,PWY-6123,g__Bacteroides,0.073452
1,MSM9VZKC|PWY-6123|g__Faecalibacterium,MSM9VZKC,PWY-6123,g__Faecalibacterium,0.718210
2,MSM9VZKC|PWY-6123|g__Lachnospiraceae_noname,MSM9VZKC,PWY-6123,g__Lachnospiraceae_noname,0.005276
3,MSM9VZKC|PWY-6124|g__Bacteroides,MSM9VZKC,PWY-6124,g__Bacteroides,0.069221
4,MSM9VZKC|PWY-6124|g__Faecalibacterium,MSM9VZKC,PWY-6124,g__Faecalibacterium,0.703711
...,...,...,...,...,...
729012,HSM7CZ1V|PEPTIDOGLYCANSYN-PWY|g__Parasutterella,HSM7CZ1V,PEPTIDOGLYCANSYN-PWY,g__Parasutterella,0.005657
729013,HSM7CZ1V|PWY-1042|g__Alistipes,HSM7CZ1V,PWY-1042,g__Alistipes,0.028047
729014,HSM7CZ1V|PWY-1042|g__Bacteroides,HSM7CZ1V,PWY-1042,g__Bacteroides,0.529900
729015,HSM7CZ1V|PWY-1042|g__Blautia,HSM7CZ1V,PWY-1042,g__Blautia,0.006493
729016,HSM7CZ1V|PWY-1042|g__Faecalibacterium,HSM7CZ1V,PWY-1042,g__Faecalibacterium,0.183487

In [30]:
master_pwy = pd.merge(master, pwy, on='Visit_ID')
master_pwy

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,age_group,visit_stage,id,PWY,Genus,Abundance
0,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|1CMET2-PWY|g__Bacteroides,1CMET2-PWY,g__Bacteroides,0.840531
1,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|1CMET2-PWY|g__Parabacteroides,1CMET2-PWY,g__Parabacteroides,0.094210
2,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|ANAGLYCOLYSIS-PWY|g__Bacteroides,ANAGLYCOLYSIS-PWY,g__Bacteroides,0.024887
3,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|ARGININE-SYN4-PWY|g__Bacteroides,ARGININE-SYN4-PWY,g__Bacteroides,0.867360
4,2008,23,MSM5LLDE,30,Female,CD,White,2,stage 3,MSM5LLDE|ARGSYN-PWY|g__Bifidobacterium,ARGSYN-PWY,g__Bifidobacterium,0.082357
...,...,...,...,...,...,...,...,...,...,...,...,...,...
729012,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|VALSYN-PWY|g__Lachnospiraceae_noname,VALSYN-PWY,g__Lachnospiraceae_noname,0.003493
729013,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|VALSYN-PWY|g__Parabacteroides,VALSYN-PWY,g__Parabacteroides,0.112971
729014,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|VALSYN-PWY|g__Parasutterella,VALSYN-PWY,g__Parasutterella,0.011327
729015,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|VALSYN-PWY|g__Roseburia,VALSYN-PWY,g__Roseburia,0.112894
729016,3022,8,CSM79HGZ,69,Male,nonIBD,White,3,stage 1,CSM79HGZ|VALSYN-PWY|g__Veillonella,VALSYN-PWY,g__Veillonella,0.003054

In [31]:
master_pwy.groupby(['Diagnosis'])['Abundance'].agg(['mean', 'count', 'sum'])

               mean   count      sum
Diagnosis
CD         0.181557  323866  58800.0
UC         0.186252  194360  36200.0
nonIBD     0.169836  210791  35800.0

In [32]:
master_pwy.groupby(['Diagnosis', 'Sex'])['Abundance'].agg(['mean', 'count', 'sum'])

                      mean   count      sum
Diagnosis Sex
CD        Female  0.185306  152181  28200.0
          Male    0.178233  171685  30600.0
UC        Female  0.186083  114465  21300.0
          Male    0.186495   79895  14900.0
nonIBD    Female  0.164682   86834  14300.0
          Male    0.173447  123957  21500.0

In [33]:
master_pwy.groupby(['Diagnosis', 'Age'])['Abundance'].agg(['mean', 'count', 'sum'])

                   mean  count     sum
Diagnosis Age
CD        0    0.222420   4496  1000.0
          8    0.160031  15622  2500.0
          9    0.186176   4297   800.0
          10   0.159482  20065  3200.0
          11   0.185874   6456  1200.0
...                 ...    ...     ...
nonIBD    56   0.129559  10034  1300.0
          57   0.155783   7703  1200.0
          61   0.180766   5532  1000.0
          62   0.160561   6851  1100.0
          69   0.242347   7840  1900.0

[79 rows x 3 columns]