In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
master = pd.read_excel("../data/meta/Master_List.xlsx")
master.drop(columns=['Sample_body_site', 'Type', 'urls'], inplace=True)
unique_master = master.drop_duplicates(subset=['Subject_ID', 'Visit_number', 'Visit_ID', 'Age', 'Sex', 'Diagnosis', 'Race'])

In [4]:
dir = "../data/genus_cleaned/ecs/"
files = os.listdir(dir)
files = [os.path.join(dir, f) for f in files]
ecs = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [5]:
dir = "../data/genus_cleaned/pwy/"
files = os.listdir(dir)
files = [os.path.join(dir, f) for f in files]
pwy = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [6]:
dir = "../data/genus_cleaned/tax/"
files = os.listdir(dir)
files = [os.path.join(dir, f) for f in files]
tax = pd.concat(map(pd.read_csv, files), ignore_index=True)

In [7]:
unique_master

      Subject_ID  Visit_number  Visit_ID  Age     Sex Diagnosis   Race
0           2008            23  MSM5LLDE   30  Female        CD  White
4           2008             6  MSM5LLDM   30  Female        CD  White
11          2008            28  MSM6J2LB   30  Female        CD  White
18          2008            11  MSM5LLDU   30  Female        CD  White
25          2008            22  MSM5LLDC   30  Female        CD  White
...          ...           ...       ...  ...     ...       ...    ...
7501        3022            19  CSM7KOOH   69    Male    nonIBD  White
7508        3022             4  CSM67UH7   69    Male    nonIBD  White
7512        3022            22  CSM7KOON   69    Male    nonIBD  White
7516        3022            25  CSM7KOOR   69    Male    nonIBD  White
7522        3022             8  CSM79HGZ   69    Male    nonIBD  White

[1339 rows x 7 columns]

In [8]:
ecs

,Unnamed: 0.1,Unnamed: 0,id,Abundance_RPKs,Visit_name,Enzyme,Genus
0,0,4000000,HSM7J4NS|1.1.1.77|g__Eubacterium,0.000054,HSM7J4NS,1.1.1.77,g__Eubacterium
1,1,4000001,HSM7J4NS|1.1.1.77|g__Faecalibacterium,0.000517,HSM7J4NS,1.1.1.77,g__Faecalibacterium
2,2,4000002,HSM7J4NS|1.1.1.77|g__Lachnospiraceae_noname,0.000008,HSM7J4NS,1.1.1.77,g__Lachnospiraceae_noname
3,3,4000003,HSM7J4NS|1.1.1.77|g__Roseburia,0.000146,HSM7J4NS,1.1.1.77,g__Roseburia
4,5,4000005,HSM7J4NS|1.1.1.79|g__Escherichia,0.000005,HSM7J4NS,1.1.1.79,g__Escherichia
...,...,...,...,...,...,...,...
7523525,49995,1349995,CSM7KOPG|2.1.3.3|g__Clostridium,0.000030,CSM7KOPG,2.1.3.3,g__Clostridium
7523526,49996,1349996,CSM7KOPG|2.1.3.3|g__Dorea,0.000011,CSM7KOPG,2.1.3.3,g__Dorea
7523527,49997,1349997,CSM7KOPG|2.1.3.3|g__Escherichia,0.000005,CSM7KOPG,2.1.3.3,g__Escherichia
7523528,49998,1349998,CSM7KOPG|2.1.3.3|g__Eubacterium,0.000022,CSM7KOPG,2.1.3.3,g__Eubacterium
7523529,49999,1349999,CSM7KOPG|2.1.3.3|g__Faecalibacterium,0.000174,CSM7KOPG,2.1.3.3,g__Faecalibacterium

In [9]:
pwy

,Unnamed: 0.1,Unnamed: 0,id,Abundance,Visit_name,PWY,Genus
0,0,800000,MSM9VZKC|PWY-6123|g__Bacteroides,0.000289,MSM9VZKC,PWY-6123,g__Bacteroides
1,1,800001,MSM9VZKC|PWY-6123|g__Faecalibacterium,0.002821,MSM9VZKC,PWY-6123,g__Faecalibacterium
2,2,800002,MSM9VZKC|PWY-6123|g__Lachnospiraceae_noname,0.000021,MSM9VZKC,PWY-6123,g__Lachnospiraceae_noname
3,4,800004,MSM9VZKC|PWY-6124|g__Bacteroides,0.000272,MSM9VZKC,PWY-6124,g__Bacteroides
4,5,800005,MSM9VZKC|PWY-6124|g__Faecalibacterium,0.002764,MSM9VZKC,PWY-6124,g__Faecalibacterium
...,...,...,...,...,...,...,...
729012,49989,399989,HSM7CZ1V|PEPTIDOGLYCANSYN-PWY|g__Parasutterella,0.000028,HSM7CZ1V,PEPTIDOGLYCANSYN-PWY,g__Parasutterella
729013,49996,399996,HSM7CZ1V|PWY-1042|g__Alistipes,0.000136,HSM7CZ1V,PWY-1042,g__Alistipes
729014,49997,399997,HSM7CZ1V|PWY-1042|g__Bacteroides,0.002577,HSM7CZ1V,PWY-1042,g__Bacteroides
729015,49998,399998,HSM7CZ1V|PWY-1042|g__Blautia,0.000032,HSM7CZ1V,PWY-1042,g__Blautia
729016,49999,399999,HSM7CZ1V|PWY-1042|g__Faecalibacterium,0.000892,HSM7CZ1V,PWY-1042,g__Faecalibacterium

In [10]:
tax

,Unnamed: 0.1,Unnamed: 0,OTU_ID,Metaphlan2_Analysis,Visit_name,Kingdom,Phylum,Class,Order,Family,Genus,Species
0,0,36,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o_...,84.78718,HSM7J4ON,k__Bacteria,p__Bacteroidetes,c__Bacteroidia,o__Bacteroidales,f__Bacteroidaceae,g__Bacteroides,NaN
1,1,37,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,5.97392,HSM7J4ON,k__Bacteria,p__Firmicutes,c__Clostridia,o__Clostridiales,f__Ruminococcaceae,g__Faecalibacterium,NaN
2,2,38,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o_...,3.60682,HSM7J4ON,k__Bacteria,p__Bacteroidetes,c__Bacteroidia,o__Bacteroidales,f__Porphyromonadaceae,g__Parabacteroides,NaN
3,3,39,k__Bacteria|p__Firmicutes|c__Negativicutes|o__...,2.59404,HSM7J4ON,k__Bacteria,p__Firmicutes,c__Negativicutes,o__Selenomonadales,f__Veillonellaceae,g__Dialister,NaN
4,4,40,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,0.88994,HSM7J4ON,k__Bacteria,p__Firmicutes,c__Clostridia,o__Clostridiales,f__Lachnospiraceae,g__Roseburia,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37674,38270,68,k__Bacteria|p__Firmicutes|c__Erysipelotrichia|...,0.02449,CSM7KOUN,k__Bacteria,p__Firmicutes,c__Erysipelotrichia,o__Erysipelotrichales,f__Erysipelotrichaceae,g__Holdemania,NaN
37675,38271,69,k__Bacteria|p__Actinobacteria|c__Actinobacteri...,0.02427,CSM7KOUN,k__Bacteria,p__Actinobacteria,c__Actinobacteria,o__Actinomycetales,f__Propionibacteriaceae,g__Propionibacteriaceae_unclassified,NaN
37676,38272,70,k__Viruses|p__Viruses_noname|c__Viruses_noname...,0.02108,CSM7KOUN,k__Viruses,p__Viruses_noname,c__Viruses_noname,o__Caudovirales,f__Siphoviridae,g__C2likevirus,NaN
37677,38273,71,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,0.00595,CSM7KOUN,k__Bacteria,p__Firmicutes,c__Clostridia,o__Clostridiales,f__Clostridiales_noname,g__Pseudoflavonifractor,NaN
37678,38274,72,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...,0.00557,CSM7KOUN,k__Bacteria,p__Firmicutes,c__Clostridia,o__Clostridiales,f__Ruminococcaceae,g__Ruminococcus,NaN

In [11]:
genus_abundances = tax.loc[:,["Visit_name", 'Genus', 'Metaphlan2_Analysis']]
genus_abundances.reset_index(inplace=True)
genus_abundances.rename(columns={'index': 'idx', 'Visit_name': 'Visit_ID'}, inplace=True)
genus = genus_abundances.pivot(index='idx', columns='Genus', values='Metaphlan2_Analysis')
genus['Visit_ID'] = genus_abundances['Visit_ID']
group_genus = genus.groupby('Visit_ID').sum()

In [12]:
master_tax = pd.merge(unique_master, group_genus, on='Visit_ID')
master_tax = master_tax.fillna(0.0)
master_tax.to_csv(os.path.join('../data/agg/', "master_tax_cleaned.csv"))

In [22]:
master_tax.iloc[:, 7:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 94 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   g__Acidaminococcaceae_unclassified                        1313 non-null   float64
 1   g__Acidaminococcus                                        1313 non-null   float64
 2   g__Actinobacillus                                         1313 non-null   float64
 3   g__Actinomyces                                            1313 non-null   float64
 4   g__Adlercreutzia                                          1313 non-null   float64
 5   g__Aggregatibacter                                        1313 non-null   float64
 6   g__Akkermansia                                            1313 non-null   float64
 7   g__Alistipes                                              1313 non-null   float64
 8   g__Anaerostipes                                           1313 non-null   float64
 9   g__Anaerotruncus                                          1313 non-null   float64
 10  g__Bacteroidales_noname                                   1313 non-null   float64
 11  g__Bacteroides                                            1313 non-null   float64
 12  g__Barnesiella                                            1313 non-null   float64
 13  g__Bifidobacterium                                        1313 non-null   float64
 14  g__Bilophila                                              1313 non-null   float64
 15  g__Blautia                                                1313 non-null   float64
 16  g__Burkholderia                                           1313 non-null   float64
 17  g__Burkholderiales_noname                                 1313 non-null   float64
 18  g__Butyricicoccus                                         1313 non-null   float64
 19  g__Butyrivibrio                                           1313 non-null   float64
 20  g__C2likevirus                                            1313 non-null   float64
 21  g__Campylobacter                                          1313 non-null   float64
 22  g__Cellulophaga                                           1313 non-null   float64
 23  g__Citrobacter                                            1313 non-null   float64
 24  g__Clostridiaceae_noname                                  1313 non-null   float64
 25  g__Clostridiales_Family_XIII_Incertae_Sedis_unclassified  1313 non-null   float64
 26  g__Clostridiales_noname                                   1313 non-null   float64
 27  g__Clostridium                                            1313 non-null   float64
 28  g__Collinsella                                            1313 non-null   float64
 29  g__Coprobacillus                                          1313 non-null   float64
 30  g__Coprobacter                                            1313 non-null   float64
 31  g__Coprococcus                                            1313 non-null   float64
 32  g__Corynebacterium                                        1313 non-null   float64
 33  g__Deinococcus                                            1313 non-null   float64
 34  g__Desulfovibrio                                          1313 non-null   float64
 35  g__Dialister                                              1313 non-null   float64
 36  g__Dorea                                                  1313 non-null   float64
 37  g__Eggerthella                                            1313 non-null   float64
 38  g__Enterobacter                                           1313 non-null   float64
 39  g__Enterococcus                                           1313 non-null   float64
 40  g__Erysipelotrichaceae_noname                             1313 non-null   float64
 41  g__Escherichia                                            1313 non-null   float64
 42  g__Eubacterium                                            1313 non-null   float64
 43  g__Faecalibacterium                                       1313 non-null   float64
 44  g__Flavonifractor                                         1313 non-null   float64
 45  g__Fusobacterium                                          1313 non-null   float64
 46  g__Gammaretrovirus                                        1313 non-null   float64
 47  g__Gordonibacter                                          1313 non-null   float64
 48  g__Granulicatella                                         1313 non-null   float64
 49  g__Granulicella                                           1313 non-null   float64
 50  g__Haemophilus                                            1313 non-null   float64
 51  g__Holdemania                                             1313 non-null   float64
 52  g__Klebsiella                                             1313 non-null   float64
 53  g__Lachnospiraceae_noname                                 1313 non-null   float64
 54  g__Lactobacillus                                          1313 non-null   float64
 55  g__Lactococcus                                            1313 non-null   float64
 56  g__Megasphaera                                            1313 non-null   float64
 57  g__Methanobrevibacter                                     1313 non-null   float64
 58  g__Mitsuokella                                            1313 non-null   float64
 59  g__Morganella                                             1313 non-null   float64
 60  g__Neisseria                                              1313 non-null   float64
 61  g__Odoribacter                                            1313 non-null   float64
 62  g__Oscillibacter                                          1313 non-null   float64
 63  g__Oxalobacter                                            1313 non-null   float64
 64  g__Pantoea                                                1313 non-null   float64
 65  g__Parabacteroides                                        1313 non-null   float64
 66  g__Paraprevotella                                         1313 non-null   float64
 67  g__Parasutterella                                         1313 non-null   float64
 68  g__Parvimonas                                             1313 non-null   float64
 69  g__Peptoniphilus                                          1313 non-null   float64
 70  g__Peptostreptococcaceae_noname                           1313 non-null   float64
 71  g__Peptostreptococcus                                     1313 non-null   float64
 72  g__Phascolarctobacterium                                  1313 non-null   float64
 73  g__Porphyromonas                                          1313 non-null   float64
 74  g__Potyvirus                                              1313 non-null   float64
 75  g__Prevotella                                             1313 non-null   float64
 76  g__Propionibacteriaceae_unclassified                      1313 non-null   float64
 77  g__Propionibacterium                                      1313 non-null   float64
 78  g__Proteus                                                1313 non-null   float64
 79  g__Pseudoflavonifractor                                   1313 non-null   float64
 80  g__Pseudomonas                                            1313 non-null   float64
 81  g__Roseburia                                              1313 non-null   float64
 82  g__Rothia                                                 1313 non-null   float64
 83  g__Ruminococcaceae_noname                                 1313 non-null   float64
 84  g__Ruminococcus                                           1313 non-null   float64
 85  g__Saccharomyces                                          1313 non-null   float64
 86  g__Shigella                                               1313 non-null   float64
 87  g__Siphoviridae_noname                                    1313 non-null   float64
 88  g__Streptococcus                                          1313 non-null   float64
 89  g__Subdoligranulum                                        1313 non-null   float64
 90  g__Sutterella                                             1313 non-null   float64
 91  g__Sutterellaceae_unclassified                            1313 non-null   float64
 92  g__Turicibacter                                           1313 non-null   float64
 93  g__Veillonella                                            1313 non-null   float64
dtypes: float64(94)
memory usage: 964.4 KB

In [14]:
master_tax

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Actinobacillus,...,g__Ruminococcus,g__Saccharomyces,g__Shigella,g__Siphoviridae_noname,g__Streptococcus,g__Subdoligranulum,g__Sutterella,g__Sutterellaceae_unclassified,g__Turicibacter,g__Veillonella
0,2008,23,MSM5LLDE,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.21738,0.64981,0.00000,0.15764,0.0,0.05505
1,2008,6,MSM5LLDM,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.25539,0.00000,0.12544,0.0,0.00000
2,2008,28,MSM6J2LB,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.07850,0.60294,0.00000,0.04602,0.0,0.00000
3,2008,11,MSM5LLDU,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,0.0,0.00000
4,2008,22,MSM5LLDC,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.24179,0.27726,0.00000,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,3022,19,CSM7KOOH,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.05461,0.0,0.0,0.0,0.02937,8.52705,0.00000,0.00000,0.0,0.07603
1309,3022,4,CSM67UH7,69,Male,nonIBD,White,0.00249,0.0,0.0,...,0.24160,0.0,0.0,0.0,0.00092,10.30346,0.00000,0.00000,0.0,0.01277
1310,3022,22,CSM7KOON,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.05634,0.0,0.0,0.0,0.00000,14.54664,0.00000,0.00000,0.0,0.00000
1311,3022,25,CSM7KOOR,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,0.0,0.00000
1312,3022,8,CSM79HGZ,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,8.10656,0.00000,0.00000,0.0,0.09838

In [16]:
master_tax.describe()

,Subject_ID,Visit_number,Age,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Actinobacillus,g__Actinomyces,g__Adlercreutzia,g__Aggregatibacter,g__Akkermansia,...,g__Ruminococcus,g__Saccharomyces,g__Shigella,g__Siphoviridae_noname,g__Streptococcus,g__Subdoligranulum,g__Sutterella,g__Sutterellaceae_unclassified,g__Turicibacter,g__Veillonella
count,1313.000000,1313.000000,1313.000000,1313.000000,1313.00000,1313.000000,1313.000000,1313.000000,1313.000000,1313.000000,...,1313.000000,1313.000000,1313.000000,1313.000000,1313.000000,1313.000000,1313.000000,1313.000000,1313.000000,1313.000000
mean,3553.073877,16.480579,27.255903,0.026383,0.57732,0.002765,0.004613,0.003044,0.001801,1.277484,...,0.783692,0.000209,0.001529,0.116628,0.168638,3.343533,0.604063,0.161525,0.003109,1.142918
std,1323.374725,7.459942,18.030420,0.190433,3.38093,0.024763,0.091236,0.023586,0.038663,5.458342,...,2.497555,0.002552,0.038252,1.432676,1.023146,5.530525,2.043048,0.954258,0.033147,4.551618
min,2008.000000,4.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2084.000000,9.000000,14.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.472770,0.000000,0.000000,0.000000,0.000000
50%,3034.000000,16.000000,19.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.050400,0.000000,0.000000,0.000000,0.002550,1.588480,0.000000,0.000000,0.000000,0.020650
75%,4035.000000,23.000000,40.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.106700,...,0.711090,0.000000,0.000000,0.000000,0.065000,4.162580,0.000230,0.000000,0.000000,0.257660
max,6038.000000,30.000000,76.000000,2.819760,68.16882,0.676260,2.980580,0.603330,1.329520,81.573070,...,34.108940,0.060750,1.353820,33.957930,31.847150,100.000000,26.375170,26.120140,0.991060,58.777590

In [23]:
master_tax[master_tax.iloc[:, 7:] > 1.0]

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Actinobacillus,...,g__Ruminococcus,g__Saccharomyces,g__Shigella,g__Siphoviridae_noname,g__Streptococcus,g__Subdoligranulum,g__Sutterella,g__Sutterellaceae_unclassified,g__Turicibacter,g__Veillonella
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.52705,NaN,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.30346,NaN,NaN,NaN,NaN
1310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14.54664,NaN,NaN,NaN,NaN
1311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.10656,NaN,NaN,NaN,NaN

In [30]:
# master_tax[master_tax.filter(like='g_').abs().gt(1.0).any()]
genus_columns = master_tax.columns[7:]
outliers = []
for col in genus_columns:
    outliers.append(master_tax[master_tax[col] > 100.0])

In [38]:
outs = [out for out in outliers if len(out) > 0]
result = pd.concat(outs)

In [39]:
result

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Actinobacillus,...,g__Ruminococcus,g__Saccharomyces,g__Shigella,g__Siphoviridae_noname,g__Streptococcus,g__Subdoligranulum,g__Sutterella,g__Sutterellaceae_unclassified,g__Turicibacter,g__Veillonella
306,2071,12,MSMA26AZ,26,Female,UC,White,0.00000,0.00000,0.00000,...,0.00000,0.0,0.0,0.00000,0.61462,0.50164,0.00000,0.00000,0.0,0.11855
598,6009,4,PSM6XBRK,16,Male,CD,White,0.08857,5.64313,0.00000,...,0.37839,0.0,0.0,0.00000,0.00000,0.59485,4.11644,2.40733,0.0,0.54963
681,6005,8,PSM6XBQY,11,Male,CD,White,0.00000,0.00000,0.05881,...,0.77951,0.0,0.0,0.00000,5.13613,9.14271,1.45877,0.00000,0.0,1.90290
784,2068,8,MSM79HDQ,19,Female,CD,White,0.00000,0.00000,0.00000,...,0.00000,0.0,0.0,0.00000,0.28695,2.79029,0.62964,0.11819,0.0,0.01112
785,2068,13,MSM9VZEK,19,Female,CD,White,0.00000,0.00000,0.00000,...,0.00000,0.0,0.0,0.79697,0.70220,21.99399,0.20665,0.08653,0.0,0.00000
914,4044,27,HSMA33RX,16,Male,UC,White,0.00000,0.00000,0.00000,...,0.26951,0.0,0.0,0.00000,0.00000,0.72703,0.00000,0.00000,0.0,0.00000
1027,2077,5,MSM9VZMA,32,Female,nonIBD,White,0.00000,0.00000,0.00000,...,0.00000,0.0,0.0,0.00000,0.00000,4.30504,0.00000,0.00000,0.0,0.00000
178,4006,23,HSM67VEM,8,Male,CD,White,0.00000,0.00000,0.00000,...,1.49847,0.0,0.0,0.45832,0.25269,0.67059,4.94450,0.00000,0.0,0.98143
741,2069,9,MSM79HDG,29,Female,UC,White,0.00000,0.00000,0.00000,...,0.00000,0.0,0.0,0.00000,0.00000,0.00544,0.00000,0.00000,0.0,0.85041
132,4009,25,HSM67VGK,6,Female,nonIBD,White,0.00000,0.00000,0.00000,...,0.07210,0.0,0.0,0.00000,0.00000,1.11317,0.00000,0.74933,0.0,0.00000

In [47]:
cleaned_master_tax = master_tax[~master_tax.index.isin(result.index)]

In [48]:
cleaned_master_tax

,Subject_ID,Visit_number,Visit_ID,Age,Sex,Diagnosis,Race,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Actinobacillus,...,g__Ruminococcus,g__Saccharomyces,g__Shigella,g__Siphoviridae_noname,g__Streptococcus,g__Subdoligranulum,g__Sutterella,g__Sutterellaceae_unclassified,g__Turicibacter,g__Veillonella
0,2008,23,MSM5LLDE,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.21738,0.64981,0.00000,0.15764,0.0,0.05505
1,2008,6,MSM5LLDM,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.25539,0.00000,0.12544,0.0,0.00000
2,2008,28,MSM6J2LB,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.07850,0.60294,0.00000,0.04602,0.0,0.00000
3,2008,11,MSM5LLDU,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,0.0,0.00000
4,2008,22,MSM5LLDC,30,Female,CD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.24179,0.27726,0.00000,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,3022,19,CSM7KOOH,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.05461,0.0,0.0,0.0,0.02937,8.52705,0.00000,0.00000,0.0,0.07603
1309,3022,4,CSM67UH7,69,Male,nonIBD,White,0.00249,0.0,0.0,...,0.24160,0.0,0.0,0.0,0.00092,10.30346,0.00000,0.00000,0.0,0.01277
1310,3022,22,CSM7KOON,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.05634,0.0,0.0,0.0,0.00000,14.54664,0.00000,0.00000,0.0,0.00000
1311,3022,25,CSM7KOOR,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,0.00000,0.00000,0.00000,0.0,0.00000
1312,3022,8,CSM79HGZ,69,Male,nonIBD,White,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.00000,8.10656,0.00000,0.00000,0.0,0.09838

In [44]:
cleaned_master_tax.to_csv('../data/agg/master_tax_cleaned2.csv')

In [49]:
normal = cleaned_master_tax.iloc[:, 7:].div(cleaned_master_tax.iloc[:, 7:].sum(axis=1), axis=0)

In [50]:
normal

,g__Acidaminococcaceae_unclassified,g__Acidaminococcus,g__Actinobacillus,g__Actinomyces,g__Adlercreutzia,g__Aggregatibacter,g__Akkermansia,g__Alistipes,g__Anaerostipes,g__Anaerotruncus,...,g__Ruminococcus,g__Saccharomyces,g__Shigella,g__Siphoviridae_noname,g__Streptococcus,g__Subdoligranulum,g__Sutterella,g__Sutterellaceae_unclassified,g__Turicibacter,g__Veillonella
0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.052946,0.000341,0.000000,...,0.000000,0.0,0.0,0.0,0.002174,0.006498,0.000000,0.001576,0.0,0.000550
1,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.100866,0.000051,0.000047,...,0.000000,0.0,0.0,0.0,0.000000,0.002554,0.000000,0.001255,0.0,0.000000
2,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.104190,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.000785,0.006029,0.000000,0.000460,0.0,0.000000
3,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.072733,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
4,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.028212,0.000066,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.002418,0.002773,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,0.000000,0.0,0.0,0.0,0.000000,0.0,0.070263,0.140205,0.000000,0.000000,...,0.000546,0.0,0.0,0.0,0.000294,0.085271,0.000000,0.000000,0.0,0.000760
1309,0.000025,0.0,0.0,0.0,0.000141,0.0,0.586037,0.011759,0.000216,0.000242,...,0.002416,0.0,0.0,0.0,0.000009,0.103038,0.000000,0.000000,0.0,0.000128
1310,0.000000,0.0,0.0,0.0,0.000000,0.0,0.033160,0.137750,0.000000,0.000000,...,0.000563,0.0,0.0,0.0,0.000000,0.145478,0.000000,0.000000,0.0,0.000000
1311,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1312,0.000000,0.0,0.0,0.0,0.000000,0.0,0.081075,0.151632,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.081067,0.000000,0.000000,0.0,0.000984

In [56]:
cleaned_master_tax.iloc[1302, 7:].sum()

99.99825